USE [GRACO]
GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_VENTAS_VENDEDOR_GNV]    Script Date: 10/06/2022 14:14:53 ******/
DROP PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_VENTAS_VENDEDOR_GNV]
GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_VENTAS_VENDEDOR_GLP]    Script Date: 10/06/2022 14:14:53 ******/
DROP PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_VENTAS_VENDEDOR_GLP]
GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_VENTAS_TARJETA_TOTAL]    Script Date: 10/06/2022 14:14:53 ******/
DROP PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_VENTAS_TARJETA_TOTAL]
GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_VENTAS_TARJETA]    Script Date: 10/06/2022 14:14:53 ******/
DROP PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_VENTAS_TARJETA]
GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_VENTAS_POR_TURNO]    Script Date: 10/06/2022 14:14:53 ******/
DROP PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_VENTAS_POR_TURNO]
GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_VENTAS_POR_PRODUCTO_TOTAL]    Script Date: 10/06/2022 14:14:53 ******/
DROP PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_VENTAS_POR_PRODUCTO_TOTAL]
GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_VENTAS_POR_PRODUCTO]    Script Date: 10/06/2022 14:14:53 ******/
DROP PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_VENTAS_POR_PRODUCTO]
GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_SALDOS]    Script Date: 10/06/2022 14:14:53 ******/
DROP PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_SALDOS]
GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_RESUMEN_EFECTIVO_TOTAL]    Script Date: 10/06/2022 14:14:53 ******/
DROP PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_RESUMEN_EFECTIVO_TOTAL]
GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_RESUMEN_EFECTIVO]    Script Date: 10/06/2022 14:14:53 ******/
DROP PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_RESUMEN_EFECTIVO]
GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_REMITOS]    Script Date: 10/06/2022 14:14:53 ******/
DROP PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_REMITOS]
GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_REMESAS_TOTAL]    Script Date: 10/06/2022 14:14:53 ******/
DROP PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_REMESAS_TOTAL]
GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_REMESAS]    Script Date: 10/06/2022 14:14:53 ******/
DROP PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_REMESAS]
GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_PADEL_TOTAL]    Script Date: 10/06/2022 14:14:53 ******/
DROP PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_PADEL_TOTAL]
GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_PADEL]    Script Date: 10/06/2022 14:14:53 ******/
DROP PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_PADEL]
GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_INVENTARIOS_TOTAL]    Script Date: 10/06/2022 14:14:53 ******/
DROP PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_INVENTARIOS_TOTAL]
GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_INVENTARIOS_GNV]    Script Date: 10/06/2022 14:14:53 ******/
DROP PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_INVENTARIOS_GNV]
GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_INVENTARIOS]    Script Date: 10/06/2022 14:14:53 ******/
DROP PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_INVENTARIOS]
GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_INFO_RECEPCION_COMB]    Script Date: 10/06/2022 14:14:53 ******/
DROP PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_INFO_RECEPCION_COMB]
GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_DOCUMENTO_D_h]    Script Date: 10/06/2022 14:14:53 ******/
DROP PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_DOCUMENTO_D_h]
GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_CREDITOS_TOTAL]    Script Date: 10/06/2022 14:14:53 ******/
DROP PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_CREDITOS_TOTAL]
GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_CREDITOS]    Script Date: 10/06/2022 14:14:53 ******/
DROP PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_CREDITOS]
GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_CABECERA]    Script Date: 10/06/2022 14:14:53 ******/
DROP PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_CABECERA]
GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_CABECERA]    Script Date: 10/06/2022 14:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_CABECERA]
	@FECPROCESO VARCHAR(8) = '20211202'
AS
BEGIN

	SELECT 
		LTRIM(RTRIM(D.CDLOCAL)) AS CDLOCAL,
		LTRIM(RTRIM(L.DSLOCAL)) AS DSLOCAL,
		LTRIM(RTRIM(L.DEPLOCAL)) AS DEPLOCAL,
		LTRIM(RTRIM(L.PROVLOCAL)) AS PROVLOCAL,
		LTRIM(RTRIM(L.DISLOCAL)) AS DISLOCAL,
		D.FECPROCESO AS FECCHA,
		LTRIM(RTRIM(D.CDUSUARIO)) AS CDUSUARIO,
		LTRIM(RTRIM(T.DSUSUARIO)) AS DSUSUARIO
	FROM 
	DIAPARTE D 
	INNER JOIN LOCAL L
	ON D.CDLOCAL = L.CDLOCAL
	INNER JOIN BACKOFFICESETUP..tab0s02 T
	ON T.CDUSUARIO = D.CDUSUARIO
	WHERE CONVERT(VARCHAR(8),D.FECPROCESO,112) = @FECPROCESO

END


GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_CREDITOS]    Script Date: 10/06/2022 14:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_CREDITOS]
	@FecProceso VARCHAR(8) = '20220221'
AS
BEGIN

	DECLARE @TablaVenta VARCHAR(11) = 'Venta' + LEFT(@FecProceso, 6)
	DECLARE @TablaVentaD VARCHAR(12) = 'VentaD' + LEFT(@FecProceso, 6)
	DECLARE @SQL NVARCHAR(MAX)

	SET @SQL = 'SELECT
					VC.rscliente,
					TipoVenta = ''Crédito'',
					Combustible = A.dsarticulo,
					Cantidad = SUM(VD.cantidad),
					Precio = CONVERT(DECIMAL(12,2),VD.precio),
					Soles = SUM(VD.mtototal),
					NroDocumento = ''''
				FROM
					' + @TablaVenta + ' VC
				JOIN
					' + @TablaVentaD + ' VD
				ON
					VC.nroseriemaq = VD.nroseriemaq AND
					VC.cdtipodoc = VD.cdtipodoc AND
					VC.nrodocumento = VD.nrodocumento AND
					VC.nropos = VD.nropos
				JOIN
					articulo A
				ON
					VD.cdarticulo = A.cdarticulo
				JOIN
					cliente CLI
				ON
					VC.cdcliente = CLI.cdcliente
				WHERE
					VC.cdtipodoc = ''99999'' AND
					VC.fecproceso = ''' + @FecProceso + ''' AND
					CLI.tipocli <> ''A''
				GROUP BY
					VC.rscliente,
					A.dsarticulo,
					VD.precio'

	EXEC sp_executesql @SQL

END




GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_CREDITOS_TOTAL]    Script Date: 10/06/2022 14:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_CREDITOS_TOTAL]
	@FecProceso VARCHAR(8) = '20220221'
AS
BEGIN

	DECLARE @TablaVenta VARCHAR(11) = 'Venta' + LEFT(@FecProceso, 6)
	DECLARE @TablaVentaD VARCHAR(12) = 'VentaD' + LEFT(@FecProceso, 6)
	DECLARE @SQL NVARCHAR(MAX)

	SET @SQL = 'SELECT
					TipoVenta = ''VENTATOTAL'',					
					Soles =ISNULL(SUM(VD.mtototal), 0) 
				FROM
					' + @TablaVenta + ' VC
				JOIN
					' + @TablaVentaD + ' VD
				ON
					VC.nroseriemaq = VD.nroseriemaq AND
					VC.cdtipodoc = VD.cdtipodoc AND
					VC.nrodocumento = VD.nrodocumento AND
					VC.nropos = VD.nropos
				JOIN
					articulo A
				ON
					VD.cdarticulo = A.cdarticulo
				JOIN
					cliente CLI
				ON
					VC.cdcliente = CLI.cdcliente
				WHERE
					VC.cdtipodoc = ''99999'' AND
					VC.fecproceso = ''' + @FecProceso + ''' AND
					CLI.tipocli <> ''A''	'

	EXEC sp_executesql @SQL

END






GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_DOCUMENTO_D_h]    Script Date: 10/06/2022 14:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_DOCUMENTO_D_h]
	@FECPROCESO VARCHAR(8) = '20211202'
AS
BEGIN
	DECLARE @SQL NVARCHAR(MAX)
	DECLARE @TablaVenta VARCHAR(11) = 'Venta' + LEFT(@FecProceso, 6)

	BEGIN
			SET @SQL = 'SELECT min(nrodocumento) AS DESDE,max(nrodocumento) AS HASTA,SUBSTRING(nrodocumento, 1, 3) AS SERIE, cdtipodoc 
						FROM ' + @TablaVenta + ' 
						WHERE	CONVERT(VARCHAR(8),fecproceso,112) ='+@FECPROCESO+' AND
						cdtipodoc IN(''00001'',''00003'')
						GROUP BY SUBSTRING(nrodocumento, 1, 3), cdtipodoc'
			--SELECT @SQL
			EXEC SP_EXECUTESQL @SQL						
		END	
END

GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_INFO_RECEPCION_COMB]    Script Date: 10/06/2022 14:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_INFO_RECEPCION_COMB]
	@FecProceso VARCHAR(8) = '20220221'
AS
BEGIN
	
	DECLARE @TablaIngreso VARCHAR(13) = 'Ingreso' + LEFT(@FecProceso, 6)
	DECLARE @TablaIngresoD VARCHAR(14) = 'IngresoD' + LEFT(@FecProceso, 6)
	DECLARE @SQL NVARCHAR(MAX)

	--INGRESOS POR COMPRA

	SET @SQL = 'SELECT
					A.dsarticulo,
					D.cantidad,
					Guia = ISNULL(C.nroguia, '''') ,
					Factura = C.nrodocumento,
					Precintos = ISNULL(C.precintos, ''''),
					Placa = ISNULL(C.placa, '''') ,
					Chofer = ISNULL(C.chofer, '''') ,
					Planta = ISNULL(C.planta, '''') ,
					Hora = ISNULL(C.hora, '''') 
				FROM 
					' + @TablaIngresoD + ' D 
				JOIN 
					' + @TablaIngreso + ' C
				ON
					D.cdtpingreso = C.cdtpingreso AND
					D.nroingreso = C.nroingreso
				JOIN
					Articulo A
				ON
					D.cdarticulo = A.cdarticulo
				WHERE 
					C.fecproceso = ''' + @FecProceso + ''' AND
					C.fecanula IS NULL AND
					D.cdtpingreso = ''COMPR'' '

	EXEC sp_executesql @SQL

END

GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_INVENTARIOS]    Script Date: 10/06/2022 14:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_INVENTARIOS]
	@FecProceso VARCHAR(8) = '20220221'
AS
BEGIN

	DECLARE @TmpArticulos TABLE (Id INT IDENTITY,
								 cdarticulo VARCHAR(20),
								 dsarticulo VARCHAR(60))

	DECLARE @TmpInventario TABLE (Id INT IDENTITY,
								  TipoCombustible VARCHAR(120),
								  InventarioInicial NUMERIC(12,2),
								  IngCompras NUMERIC(12,2),
								  IngTransfGrifos NUMERIC(12,2),
								  IngCalibracion NUMERIC(12,2),
								  IngTotalIngresos NUMERIC(12,2),
								  SalTotalVentas NUMERIC(12,2),
								  SalTransfGrifos NUMERIC(12,2),
								  SalAjusteFaltante NUMERIC(12,2),
								  SalTotalSalidas NUMERIC(12,2),
								  InventarioFinal NUMERIC(12,2),
								  VarInicial NUMERIC(12,2),
								  VarFinal NUMERIC(12,2),
								  CantidadGalones NUMERIC(12,2),
								  PrecioVenta NUMERIC(12,2),
								  VentaSoles NUMERIC(12,2),
								  DifDia NUMERIC(12,2),
								  DifMes NUMERIC (12,2))

	DECLARE @TmpArticulosTot INT
	DECLARE @Cont INT

	DECLARE @TablaVenta VARCHAR(11) = 'Venta' + LEFT(@FecProceso, 6)
	DECLARE @TablaVentaD VARCHAR(12) = 'VentaD' + LEFT(@FecProceso, 6)
	DECLARE @TablaIngreso VARCHAR(13) = 'Ingreso' + LEFT(@FecProceso, 6)
	DECLARE @TablaIngresoD VARCHAR(14) = 'IngresoD' + LEFT(@FecProceso, 6)
	DECLARE @TablaSalida VARCHAR(12) = 'Salida' + LEFT(@FecProceso, 6)
	DECLARE @TablaSalidaD VARCHAR(13) = 'SalidaD' + LEFT(@FecProceso, 6)
	DECLARE @TablaDiaVarillaje VARCHAR(18) = 'DiaVarillaje' + LEFT(@FecProceso, 6)

	DECLARE @vArticulosProd VARCHAR(20)
	DECLARE @vTipoCombustible VARCHAR(120)
	DECLARE @vInventarioInicial NUMERIC(12,2)
	DECLARE @vIngCompras NUMERIC(12,2)
	DECLARE @vIngTransfGrifos NUMERIC(12,2)
	DECLARE @vIngCalibracion NUMERIC(12,2)
	DECLARE @vIngTotalIngresos NUMERIC(12,2)
	DECLARE @vSalTotalVentas NUMERIC(12,2)
	DECLARE @vSalTransfGrifos NUMERIC(12,2)
	DECLARE @vSalAjusteFaltante NUMERIC(12,2)
	DECLARE @vSalTotalSalidas NUMERIC(12,2)
	DECLARE @vInventarioFinal NUMERIC(12,2)
	DECLARE @vVarInicial NUMERIC(12,2)
	DECLARE @vVarFinal NUMERIC(12,2)
	DECLARE @vCantidadGal NUMERIC(12,2)
	DECLARE @vVentaSoles NUMERIC(12,2)
	DECLARE @vDifDia NUMERIC(12,2)
	DECLARE @vDifMes NUMERIC(12,2)

	DECLARE @FecProcesoAnt DATETIME = DATEADD(DAY,-1,@FecProceso)
	DECLARE @FechaIniDif VARCHAR(8)
	DECLARE @FechaFinDif VARCHAR(8)

	SET @FechaIniDif = CONVERT(VARCHAR(8),DATEADD(D, 1, EOMONTH(@FecProceso, -1)),112)
	SET @FechaFinDif = CONVERT(VARCHAR(8),EOMONTH(@FecProceso),112)

	--ELIMINANDO REGISTROS SEGUN FECHA EN TABLA VarillajesParteDiario3
	BEGIN

		DELETE VarillajesParteDiario3 WHERE fecproceso = @FecProceso

	END

	--ARTICULOS

	INSERT INTO @TmpArticulos
	SELECT
		cdarticulo,
		dsarticulo
	FROM
		articulo
	WHERE
		cdarticulo IN ('01','02','03','04','05','07')

	SET @TmpArticulosTot = (SELECT COUNT(*) FROM @TmpArticulos)
	SET @Cont = 1

	DECLARE @SQL NVARCHAR(MAX)
	DECLARE @Params NVARCHAR(200)

	WHILE @Cont <= @TmpArticulosTot
	BEGIN
	
		SET @vArticulosProd = (SELECT cdarticulo FROM @TmpArticulos WHERE Id = @Cont)
		SET @vTipoCombustible = (SELECT dsarticulo FROM @TmpArticulos WHERE Id = @Cont)

		--INGRESOS
		BEGIN

			--INGRESOS POR COMPRA

			--SET @SQL = 'SELECT
			--				@out = SUM(D.cantidad)
			--			FROM ' + @TablaIngresoD + ' D JOIN ' + @TablaIngreso + ' C
			--			ON
			--				D.cdtpingreso = C.cdtpingreso AND
			--				D.nroingreso = C.nroingreso
			--			WHERE 
			--				C.fecproceso = ''' + @FecProceso + ''' AND
			--				C.fecanula IS NULL AND
			--				D.cdtpingreso = ''COMPR'' AND
			--				D.cdarticulo = ''' + @vArticulosProd + ''' '

			SET @SQL = 'SELECT
							@out = compra
						FROM ' 
							+ @TablaDiaVarillaje + ' 
						WHERE 
							fecproceso = ''' + @FecProceso + ''' AND
							cdarticulo = ''' + @vArticulosProd + ''' '

			SET @Params = '@out NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vIngCompras OUT

			--INGRESOS POR TRANSFERENCIA

				SET @SQL = 'SELECT
								@out = SUM(D.cantidad)
							FROM ' + @TablaIngresoD + ' D JOIN ' + @TablaIngreso + ' C
							ON
								D.cdtpingreso = C.cdtpingreso AND
								D.nroingreso = C.nroingreso
							WHERE 
								C.fecproceso = ''' + @FecProceso + ''' AND
								C.fecanula IS NULL AND
								D.cdtpingreso = ''TRFIN'' AND
								D.cdarticulo = ''' + @vArticulosProd + ''' '

			SET @Params = '@out NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vIngTransfGrifos OUT

			--SERAFIN

				SET @SQL = 'SELECT
								@out = SUM(D.cantidad)
							FROM ' + @TablaIngresoD + ' D JOIN ' + @TablaIngreso + ' C
							ON
								D.cdtpingreso = C.cdtpingreso AND
								D.nroingreso = C.nroingreso
							WHERE 
								C.fecproceso = ''' + @FecProceso + ''' AND
								C.fecanula IS NULL AND
								D.cdtpingreso = ''DEVPO'' AND
								D.cdarticulo = ''' + @vArticulosProd + ''' '

			SET @Params = '@out NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vIngTransfGrifos OUT

		END

		--SALIDAS
		BEGIN

			--VENTAS

			--SET @SQL = 'SELECT
			--				@out = SUM(D.cantidad)
			--			FROM ' + @TablaVentaD + ' D JOIN ' + @TablaVenta + ' C
			--			ON
			--				D.cdtipodoc = C.cdtipodoc AND
			--				D.nrodocumento = C.nrodocumento AND
			--				D.nroseriemaq = C.nroseriemaq AND
			--				D.nropos = C.nropos
			--			WHERE 
			--				C.fecproceso = ''' + @FecProceso + ''' AND
			--				C.fecanula IS NULL AND
			--				D.cdarticulo = ''' + @vArticulosProd + ''' '

			SET @SQL = 'SELECT
							@out = venta
						FROM ' 
							+ @TablaDiaVarillaje + ' 
						WHERE 
							fecproceso = ''' + @FecProceso + ''' AND
							cdarticulo = ''' + @vArticulosProd + ''' '

			SET @Params = '@out NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vSalTotalVentas OUT

			--TRANSF. GRIFOS

			SET @SQL = 'SELECT
							@out = SUM(D.cantidad)
						FROM ' + @TablaSalidaD + ' D JOIN ' + @TablaSalida + ' C
						ON 
							D.cdtpsalida = C.cdtpsalida AND
							D.nrosalida = C.nrosalida
						WHERE 
							C.fecproceso = ''' + @FecProceso + ''' AND
							C.fecanula IS NULL AND
							D.cdtpsalida = ''TRFLO'' AND
							D.cdarticulo = ''' + @vArticulosProd + ''' '

			SET @Params = '@out NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vSalTransfGrifos OUT

			--AJUSTE FALTANTE

			SET @SQL = 'SELECT
							@out = SUM(D.cantidad)
						FROM ' + @TablaSalidaD + ' D JOIN ' + @TablaSalida + ' C
						ON 
							D.cdtpsalida = C.cdtpsalida AND
							D.nrosalida = C.nrosalida
						WHERE 
							C.fecproceso = ''' + @FecProceso + ''' AND
							C.fecanula IS NULL AND
							D.cdtpsalida = ''SAJUS'' AND
							D.cdarticulo = ''' + @vArticulosProd + ''' '

			SET @Params = '@out NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vSalAjusteFaltante OUT

		END

		--VARILLAJE
		BEGIN

			SET @SQL = 'SELECT
							@outIni = inicial,
							@outFin = final
						FROM 
							' + @TablaDiaVarillaje + ' 
						WHERE 
							fecproceso = ''' + @FecProceso + ''' AND
							cdarticulo = ''' + @vArticulosProd + ''' '

			SET @Params = '@outIni NUMERIC(12,2) OUTPUT, @outFin NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vVarInicial OUT, @vVarFinal OUT

		END

		--VENTAS POR PRODUCTO
		BEGIN

			SET @SQL = 'SELECT					
							@outCant = SUM(D.cantidad),							
							@outMto = CONVERT(DECIMAL(12,2),SUM(D.mtototal))
						FROM
							' + @TablaVentaD + ' D
						JOIN
							' + @TablaVenta + ' C
						ON
							D.cdtipodoc = C.cdtipodoc AND
							D.nrodocumento = C.nrodocumento AND
							D.nroseriemaq = C.nroseriemaq AND
							D.nropos = C.nropos
						JOIN
							articulo A
						ON
							D.cdarticulo = A.cdarticulo
						WHERE
							D.fecproceso = ''' + @FecProceso + ''' AND
							C.fecanula IS NULL AND
							D.cdarticulo = ''' + @vArticulosProd + ''' '

			SET @Params = '@outCant NUMERIC(12,2) OUTPUT, @outMto NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vCantidadGal OUTPUT, @vVentaSoles OUTPUT

		END

		--INVENTARIO INICIAL Y FINAL
		BEGIN
						
			SET @vInventarioInicial = NULL

			--SET @SQL = 'SELECT
			--				@out = final
			--			FROM
			--				VarillajesParteDiario3
			--			WHERE 
			--				fecproceso = ''' + CONVERT(VARCHAR(8),@FecProcesoAnt,112) + ''' AND
			--				cdarticulo = ''' + @vArticulosProd + ''' '

			SET @SQL = 'SELECT
							@outIni = inicial,
							@outFin = final
						FROM ' 
							+ @TablaDiaVarillaje + ' 
						WHERE 
							fecproceso = ''' + @FecProceso + ''' AND
							cdarticulo = ''' + @vArticulosProd + ''' '

			SET @Params = '@outIni NUMERIC(12,2) OUTPUT, @outFin NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vInventarioInicial OUTPUT, @vInventarioFinal OUTPUT

		END

		--DIFERENCIA DEL DIA Y MES

		--BEGIN					

		--	SET @vDifMes =	(SELECT 
		--						SUM(difdia) 
		--					FROM 
		--						VarillajesParteDiario3 
		--					WHERE
		--						fecproceso BETWEEN @FechaIniDif AND @FechaFinDif AND
		--						cdarticulo = @vArticulosProd)

		--END

		SET @SQL = 'SELECT
						@outDifDia = difdia,
						@outDifMes = difmes
					FROM ' 
						+ @TablaDiaVarillaje + ' 
					WHERE 
						fecproceso = ''' + @FecProceso + ''' AND
						cdarticulo = ''' + @vArticulosProd + ''' '

		SET @Params = '@outDifDia NUMERIC(12,2) OUTPUT, @outDifMes NUMERIC(12,2) OUTPUT'

		EXEC sp_executesql @SQL, @Params, @vDifDia OUTPUT, @vDifMes OUTPUT

		--CAMPOS CALCULADOS
		BEGIN

			--IF @vInventarioInicial IS NULL

			--BEGIN
				
			--	SET @vInventarioInicial = ISNULL(@vVarInicial,0)

			--END

			SET @vIngTotalIngresos = ISNULL(@vIngCompras,0) + ISNULL(@vIngTransfGrifos,0)
			SET @vSalTotalSalidas = ISNULL(@vSalTotalVentas,0) + ISNULL(@vSalTransfGrifos,0) + ISNULL(@vSalAjusteFaltante,0)
			--SET @vInventarioFinal = ISNULL(@vInventarioInicial,0) + @vIngTotalIngresos - @vSalTotalSalidas
			--SET @vDifDia = ISNULL(@vVarFinal,0) - ISNULL(@vInventarioFinal,0)
			--SET @vDifMes = ISNULL(@vDifMes,0) + @vDifDia

		END

		--INSRECION EN TABLA TEMPORAL Y VarillajesParteDiario3
		BEGIN			

			INSERT INTO 
				@TmpInventario (TipoCombustible, InventarioInicial, IngCompras, IngTransfGrifos, IngCalibracion, IngTotalIngresos, SalTotalVentas,
								SalTransfGrifos, SalAjusteFaltante, SalTotalSalidas, InventarioFinal, VarInicial, VarFinal, CantidadGalones, PrecioVenta,
								VentaSoles, DifDia, DifMes)
			VALUES
				(@vTipoCombustible, ISNULL(@vInventarioInicial,0), ISNULL(@vIngCompras,0), ISNULL(@vIngTransfGrifos,0), ISNULL(@vIngCalibracion,0), 0, ISNULL(@vSalTotalVentas,0),
				ISNULL(@vSalTransfGrifos,0), ISNULL(@vSalAjusteFaltante,0), @vSalTotalSalidas, ISNULL(@vInventarioFinal,0), ISNULL(@vVarInicial,0), ISNULL(@vVarFinal,0), ISNULL(@vCantidadGal,0), 0, 
				ISNULL(@vVentaSoles,0), @vDifDia, @vDifMes)

			INSERT INTO 
				VarillajesParteDiario3 (fecproceso, cdarticulo, inicial, compra, venta, final, varillaje, difdia, difmes, variacion, total)
			VALUES
				(@FecProceso, @vArticulosProd, @vInventarioInicial, ISNULL(@vIngCompras,0), ISNULL(@vSalTotalVentas,0), @vInventarioFinal, ISNULL(@vVarFinal,0), @vDifDia, @vDifMes, 0, ISNULL(@vVentaSoles,0))

		END

		SET @Cont = @Cont + 1

	END

	SELECT 
		TipoCombustible, 
		InventarioInicial, 
		IngCompras, 
		IngTransfGrifos, 
		IngCalibracion, 
		IngTotalIngresos, 
		SalTotalVentas,
		SalTransfGrifos, 
		SalAjusteFaltante, 
		SalTotalSalidas, 
		InventarioFinal, 
		VarInicial, 
		VarFinal, 
		CantidadGalones, 
		PrecioVenta,
		VentaSoles,
		DifDia,
		DifMes
	FROM 
		@TmpInventario

END



GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_INVENTARIOS_GNV]    Script Date: 10/06/2022 14:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_INVENTARIOS_GNV]
	@FecProceso VARCHAR(8) = '20220221'
AS
BEGIN

	DECLARE @TmpArticulos TABLE (Id INT IDENTITY,
								 cdarticulo VARCHAR(20),
								 dsarticulo VARCHAR(60))

	DECLARE @TmpInventario TABLE (Id INT IDENTITY,
								  TipoCombustible VARCHAR(120),								  
								  SalTotalSalidas NUMERIC(12,2),
								  VarInicial NUMERIC(12,2),
								  VarFinal NUMERIC(12,2),
								  CantidadGalones NUMERIC(12,2),
								  PrecioVenta NUMERIC(12,2),
								  VentaSoles NUMERIC(12,2),
								  DifDia NUMERIC(12,2),
								  DifMes NUMERIC (12,2))

	DECLARE @TmpArticulosTot INT
	DECLARE @Cont INT

	DECLARE @TablaVenta VARCHAR(11) = 'Venta' + LEFT(@FecProceso, 6)
	DECLARE @TablaVentaD VARCHAR(12) = 'VentaD' + LEFT(@FecProceso, 6)
	DECLARE @TablaDiaVarillaje VARCHAR(18) = 'DiaVarillaje' + LEFT(@FecProceso, 6)

	DECLARE @vArticulosProd VARCHAR(20)
	DECLARE @vTipoCombustible VARCHAR(120)
	DECLARE @vSalTotalVentas NUMERIC(12,2)
	DECLARE @vSalTotalSalidas NUMERIC(12,2)
	DECLARE @vVarInicial NUMERIC(12,2)
	DECLARE @vVarFinal NUMERIC(12,2)
	DECLARE @vCantidadGal NUMERIC(12,2)
	DECLARE @vVentaSoles NUMERIC(12,2)
	DECLARE @vDifDia NUMERIC(12,2)
	DECLARE @vDifMes NUMERIC(12,2)

	DECLARE @FecProcesoAnt DATETIME = DATEADD(DAY,-1,@FecProceso)
	DECLARE @FechaIniDif VARCHAR(8)
	DECLARE @FechaFinDif VARCHAR(8)

	SET @FechaIniDif = CONVERT(VARCHAR(8),DATEADD(D, 1, EOMONTH(@FecProceso, -1)),112)
	SET @FechaFinDif = CONVERT(VARCHAR(8),EOMONTH(@FecProceso),112)

	--ELIMINANDO REGISTROS SEGUN FECHA EN TABLA VarillajesParteDiario3
	BEGIN

		DELETE VarillajesParteDiario3 WHERE fecproceso = @FecProceso AND cdarticulo = '08'

	END

	--ARTICULOS

	INSERT INTO @TmpArticulos
	SELECT
		cdarticulo,
		dsarticulo
	FROM
		articulo
	WHERE
		cdarticulo = '08'

	SET @TmpArticulosTot = (SELECT COUNT(*) FROM @TmpArticulos)
	SET @Cont = 1

	DECLARE @SQL NVARCHAR(MAX)
	DECLARE @Params NVARCHAR(200)

	WHILE @Cont <= @TmpArticulosTot
	BEGIN
	
		SET @vArticulosProd = (SELECT cdarticulo FROM @TmpArticulos WHERE Id = @Cont)
		SET @vTipoCombustible = (SELECT dsarticulo FROM @TmpArticulos WHERE Id = @Cont)

		--SALIDAS
		BEGIN

			--VENTAS

			SET @SQL = 'SELECT
							@out = SUM(D.cantidad)
						FROM ' + @TablaVentaD + ' D JOIN ' + @TablaVenta + ' C
						ON
							D.cdtipodoc = C.cdtipodoc AND
							D.nrodocumento = C.nrodocumento AND
							D.nroseriemaq = C.nroseriemaq AND
							D.nropos = C.nropos
						WHERE 
							C.fecproceso = ''' + @FecProceso + ''' AND
							C.fecanula IS NULL AND
							D.cdarticulo = ''' + @vArticulosProd + ''' '

			SET @Params = '@out NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vSalTotalVentas OUT

		END

		--VARILLAJE
		BEGIN

			SET @SQL = 'SELECT
							@outIni = inicial,
							@outFin = final
						FROM 
							' + @TablaDiaVarillaje + ' 
						WHERE 
							fecproceso = ''' + @FecProceso + ''' AND
							cdarticulo = ''' + @vArticulosProd + ''' '

			SET @Params = '@outIni NUMERIC(12,2) OUTPUT, @outFin NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vVarInicial OUT, @vVarFinal OUT

		END

		--VENTAS POR PRODUCTO
		BEGIN

			SET @SQL = 'SELECT					
							@outCant = SUM(D.cantidad),							
							@outMto = CONVERT(DECIMAL(12,2),SUM(D.mtototal))
						FROM
							' + @TablaVentaD + ' D
						JOIN
							' + @TablaVenta + ' C
						ON
							D.cdtipodoc = C.cdtipodoc AND
							D.nrodocumento = C.nrodocumento AND
							D.nroseriemaq = C.nroseriemaq AND
							D.nropos = C.nropos
						JOIN
							articulo A
						ON
							D.cdarticulo = A.cdarticulo
						WHERE
							D.fecproceso = ''' + @FecProceso + ''' AND
							C.fecanula IS NULL AND
							D.cdarticulo = ''' + @vArticulosProd + ''' '

			SET @Params = '@outCant NUMERIC(12,2) OUTPUT, @outMto NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vCantidadGal OUTPUT, @vVentaSoles OUTPUT

		END

		--DIFERENCIA DEL MES
		BEGIN					

			SET @vDifMes =	(SELECT 
								SUM(difdia) 
							FROM 
								VarillajesParteDiario3 
							WHERE
								fecproceso BETWEEN @FechaIniDif AND @FechaFinDif AND
								cdarticulo = @vArticulosProd)

		END

		--CAMPOS CALCULADOS
		BEGIN

			SET @vSalTotalSalidas = ISNULL(@vSalTotalVentas,0)
			SET @vDifDia = ISNULL(@vVarFinal,0) - (ISNULL(@vVarInicial,0) + ISNULL(@vSalTotalVentas,0))
			SET @vDifMes = ISNULL(@vDifMes,0) + @vDifDia

		END

		--INSERCION EN TABLA TEMPORAL Y VarillajesParteDiario3
		BEGIN			

			INSERT INTO 
				@TmpInventario (TipoCombustible, SalTotalSalidas, VarInicial, VarFinal, CantidadGalones, PrecioVenta,
								VentaSoles, DifDia, DifMes)
			VALUES
				(@vTipoCombustible, @vSalTotalSalidas, ISNULL(@vVarInicial,0), ISNULL(@vVarFinal,0), ISNULL(@vCantidadGal,0), 0, 
				ISNULL(@vVentaSoles,0), @vDifDia, @vDifMes)

			INSERT INTO 
				VarillajesParteDiario3 (fecproceso, cdarticulo, inicial, compra, venta, final, varillaje, difdia, difmes, variacion, total)
			VALUES
				(@FecProceso, @vArticulosProd, 0, 0, ISNULL(@vSalTotalVentas,0), 0, ISNULL(@vVarFinal,0), @vDifDia, @vDifMes, 0, ISNULL(@vVentaSoles,0))

		END

		SET @Cont = @Cont + 1

	END

	SELECT 
		TipoCombustible, 
		SalTotalSalidas, 
		VarInicial, 
		VarFinal, 
		CantidadGalones, 
		PrecioVenta,
		VentaSoles,
		DifDia,
		DifMes
	FROM 
		@TmpInventario

END



GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_INVENTARIOS_TOTAL]    Script Date: 10/06/2022 14:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_INVENTARIOS_TOTAL]
	@FecProceso VARCHAR(8) = '20220221'
AS
BEGIN

	DECLARE @TmpArticulos TABLE (Id INT IDENTITY,
								 cdarticulo VARCHAR(20),
								 dsarticulo VARCHAR(60))

	DECLARE @TmpInventario TABLE (Id INT IDENTITY,
								  TipoCombustible VARCHAR(120),
								  InventarioInicial NUMERIC(12,2),
								  IngCompras NUMERIC(12,2),
								  IngTransfGrifos NUMERIC(12,2),
								  IngCalibracion NUMERIC(12,2),
								  IngTotalIngresos NUMERIC(12,2),
								  SalTotalVentas NUMERIC(12,2),
								  SalTransfGrifos NUMERIC(12,2),
								  SalAjusteFaltante NUMERIC(12,2),
								  SalTotalSalidas NUMERIC(12,2),
								  InventarioFinal NUMERIC(12,2),
								  VarInicial NUMERIC(12,2),
								  VarFinal NUMERIC(12,2),
								  CantidadGalones NUMERIC(12,2),
								  PrecioVenta NUMERIC(12,2),
								  VentaSoles NUMERIC(12,2),
								  DifDia NUMERIC(12,2),
								  DifMes NUMERIC (12,2))

	DECLARE @TmpArticulosTot INT
	DECLARE @Cont INT

	DECLARE @TablaVenta VARCHAR(11) = 'Venta' + LEFT(@FecProceso, 6)
	DECLARE @TablaVentaD VARCHAR(12) = 'VentaD' + LEFT(@FecProceso, 6)
	DECLARE @TablaIngreso VARCHAR(13) = 'Ingreso' + LEFT(@FecProceso, 6)
	DECLARE @TablaIngresoD VARCHAR(14) = 'IngresoD' + LEFT(@FecProceso, 6)
	DECLARE @TablaSalida VARCHAR(12) = 'Salida' + LEFT(@FecProceso, 6)
	DECLARE @TablaSalidaD VARCHAR(13) = 'SalidaD' + LEFT(@FecProceso, 6)
	DECLARE @TablaDiaVarillaje VARCHAR(18) = 'DiaVarillaje' + LEFT(@FecProceso, 6)

	DECLARE @vArticulosProd VARCHAR(20)
	DECLARE @vTipoCombustible VARCHAR(120)
	DECLARE @vInventarioInicial NUMERIC(12,2)
	DECLARE @vIngCompras NUMERIC(12,2)
	DECLARE @vIngTransfGrifos NUMERIC(12,2)
	DECLARE @vIngCalibracion NUMERIC(12,2)
	DECLARE @vIngTotalIngresos NUMERIC(12,2)
	DECLARE @vSalTotalVentas NUMERIC(12,2)
	DECLARE @vSalTransfGrifos NUMERIC(12,2)
	DECLARE @vSalAjusteFaltante NUMERIC(12,2)
	DECLARE @vSalTotalSalidas NUMERIC(12,2)
	DECLARE @vInventarioFinal NUMERIC(12,2)
	DECLARE @vVarInicial NUMERIC(12,2)
	DECLARE @vVarFinal NUMERIC(12,2)
	DECLARE @vCantidadGal NUMERIC(12,2)
	DECLARE @vVentaSoles NUMERIC(12,2)
	DECLARE @vDifDia NUMERIC(12,2)
	DECLARE @vDifMes NUMERIC(12,2)

	DECLARE @FecProcesoAnt DATETIME = DATEADD(DAY,-1,@FecProceso)
	DECLARE @FechaIniDif VARCHAR(8)
	DECLARE @FechaFinDif VARCHAR(8)

	SET @FechaIniDif = CONVERT(VARCHAR(8),DATEADD(D, 1, EOMONTH(@FecProceso, -1)),112)
	SET @FechaFinDif = CONVERT(VARCHAR(8),EOMONTH(@FecProceso),112)

	--ELIMINANDO REGISTROS SEGUN FECHA EN TABLA VarillajesParteDiario3
	BEGIN

		DELETE VarillajesParteDiario3 WHERE fecproceso = @FecProceso

	END

	--ARTICULOS

	INSERT INTO @TmpArticulos
	SELECT
		cdarticulo,
		dsarticulo
	FROM
		articulo
	WHERE
		cdarticulo IN ('01','02','03','04','05','07')

	SET @TmpArticulosTot = (SELECT COUNT(*) FROM @TmpArticulos)
	SET @Cont = 1

	DECLARE @SQL NVARCHAR(MAX)
	DECLARE @Params NVARCHAR(200)

	WHILE @Cont <= @TmpArticulosTot
	BEGIN
	
		SET @vArticulosProd = (SELECT cdarticulo FROM @TmpArticulos WHERE Id = @Cont)
		SET @vTipoCombustible = (SELECT dsarticulo FROM @TmpArticulos WHERE Id = @Cont)

		--INGRESOS
		BEGIN

			--INGRESOS POR COMPRA

			--SET @SQL = 'SELECT
			--				@out = SUM(D.cantidad)
			--			FROM ' + @TablaIngresoD + ' D JOIN ' + @TablaIngreso + ' C
			--			ON
			--				D.cdtpingreso = C.cdtpingreso AND
			--				D.nroingreso = C.nroingreso
			--			WHERE 
			--				C.fecproceso = ''' + @FecProceso + ''' AND
			--				C.fecanula IS NULL AND
			--				D.cdtpingreso = ''COMPR'' AND
			--				D.cdarticulo = ''' + @vArticulosProd + ''' '

			SET @SQL = 'SELECT
							@out = compra
						FROM ' 
							+ @TablaDiaVarillaje + ' 
						WHERE 
							fecproceso = ''' + @FecProceso + ''' AND
							cdarticulo = ''' + @vArticulosProd + ''' '

			SET @Params = '@out NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vIngCompras OUT

			--INGRESOS POR TRANSFERENCIA

				SET @SQL = 'SELECT
								@out = SUM(D.cantidad)
							FROM ' + @TablaIngresoD + ' D JOIN ' + @TablaIngreso + ' C
							ON
								D.cdtpingreso = C.cdtpingreso AND
								D.nroingreso = C.nroingreso
							WHERE 
								C.fecproceso = ''' + @FecProceso + ''' AND
								C.fecanula IS NULL AND
								D.cdtpingreso = ''TRFIN'' AND
								D.cdarticulo = ''' + @vArticulosProd + ''' '

			SET @Params = '@out NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vIngTransfGrifos OUT

			--SERAFIN

				SET @SQL = 'SELECT
								@out = SUM(D.cantidad)
							FROM ' + @TablaIngresoD + ' D JOIN ' + @TablaIngreso + ' C
							ON
								D.cdtpingreso = C.cdtpingreso AND
								D.nroingreso = C.nroingreso
							WHERE 
								C.fecproceso = ''' + @FecProceso + ''' AND
								C.fecanula IS NULL AND
								D.cdtpingreso = ''DEVPO'' AND
								D.cdarticulo = ''' + @vArticulosProd + ''' '

			SET @Params = '@out NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vIngTransfGrifos OUT

		END

		--SALIDAS
		BEGIN

			--VENTAS

			--SET @SQL = 'SELECT
			--				@out = SUM(D.cantidad)
			--			FROM ' + @TablaVentaD + ' D JOIN ' + @TablaVenta + ' C
			--			ON
			--				D.cdtipodoc = C.cdtipodoc AND
			--				D.nrodocumento = C.nrodocumento AND
			--				D.nroseriemaq = C.nroseriemaq AND
			--				D.nropos = C.nropos
			--			WHERE 
			--				C.fecproceso = ''' + @FecProceso + ''' AND
			--				C.fecanula IS NULL AND
			--				D.cdarticulo = ''' + @vArticulosProd + ''' '

			SET @SQL = 'SELECT
							@out = venta
						FROM ' 
							+ @TablaDiaVarillaje + ' 
						WHERE 
							fecproceso = ''' + @FecProceso + ''' AND
							cdarticulo = ''' + @vArticulosProd + ''' '

			SET @Params = '@out NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vSalTotalVentas OUT

			--TRANSF. GRIFOS

			SET @SQL = 'SELECT
							@out = SUM(D.cantidad)
						FROM ' + @TablaSalidaD + ' D JOIN ' + @TablaSalida + ' C
						ON 
							D.cdtpsalida = C.cdtpsalida AND
							D.nrosalida = C.nrosalida
						WHERE 
							C.fecproceso = ''' + @FecProceso + ''' AND
							C.fecanula IS NULL AND
							D.cdtpsalida = ''TRFLO'' AND
							D.cdarticulo = ''' + @vArticulosProd + ''' '

			SET @Params = '@out NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vSalTransfGrifos OUT

			--AJUSTE FALTANTE

			SET @SQL = 'SELECT
							@out = SUM(D.cantidad)
						FROM ' + @TablaSalidaD + ' D JOIN ' + @TablaSalida + ' C
						ON 
							D.cdtpsalida = C.cdtpsalida AND
							D.nrosalida = C.nrosalida
						WHERE 
							C.fecproceso = ''' + @FecProceso + ''' AND
							C.fecanula IS NULL AND
							D.cdtpsalida = ''SAJUS'' AND
							D.cdarticulo = ''' + @vArticulosProd + ''' '

			SET @Params = '@out NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vSalAjusteFaltante OUT

		END

		--VARILLAJE
		BEGIN

			SET @SQL = 'SELECT
							@outIni = inicial,
							@outFin = final
						FROM 
							' + @TablaDiaVarillaje + ' 
						WHERE 
							fecproceso = ''' + @FecProceso + ''' AND
							cdarticulo = ''' + @vArticulosProd + ''' '

			SET @Params = '@outIni NUMERIC(12,2) OUTPUT, @outFin NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vVarInicial OUT, @vVarFinal OUT

		END

		--VENTAS POR PRODUCTO
		BEGIN

			SET @SQL = 'SELECT					
							@outCant = SUM(D.cantidad),							
							@outMto = CONVERT(DECIMAL(12,2),SUM(D.mtototal))
						FROM
							' + @TablaVentaD + ' D
						JOIN
							' + @TablaVenta + ' C
						ON
							D.cdtipodoc = C.cdtipodoc AND
							D.nrodocumento = C.nrodocumento AND
							D.nroseriemaq = C.nroseriemaq AND
							D.nropos = C.nropos
						JOIN
							articulo A
						ON
							D.cdarticulo = A.cdarticulo
						WHERE
							D.fecproceso = ''' + @FecProceso + ''' AND
							C.fecanula IS NULL AND
							D.cdarticulo = ''' + @vArticulosProd + ''' '

			SET @Params = '@outCant NUMERIC(12,2) OUTPUT, @outMto NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vCantidadGal OUTPUT, @vVentaSoles OUTPUT

		END

		--INVENTARIO INICIAL Y FINAL
		BEGIN
						
			SET @vInventarioInicial = NULL

			--SET @SQL = 'SELECT
			--				@out = final
			--			FROM
			--				VarillajesParteDiario3
			--			WHERE 
			--				fecproceso = ''' + CONVERT(VARCHAR(8),@FecProcesoAnt,112) + ''' AND
			--				cdarticulo = ''' + @vArticulosProd + ''' '

			SET @SQL = 'SELECT
							@outIni = inicial,
							@outFin = final
						FROM ' 
							+ @TablaDiaVarillaje + ' 
						WHERE 
							fecproceso = ''' + @FecProceso + ''' AND
							cdarticulo = ''' + @vArticulosProd + ''' '

			SET @Params = '@outIni NUMERIC(12,2) OUTPUT, @outFin NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vInventarioInicial OUTPUT, @vInventarioFinal OUTPUT

		END

		--DIFERENCIA DEL DIA Y MES

		--BEGIN					

		--	SET @vDifMes =	(SELECT 
		--						SUM(difdia) 
		--					FROM 
		--						VarillajesParteDiario3 
		--					WHERE
		--						fecproceso BETWEEN @FechaIniDif AND @FechaFinDif AND
		--						cdarticulo = @vArticulosProd)

		--END

		SET @SQL = 'SELECT
						@outDifDia = difdia,
						@outDifMes = difmes
					FROM ' 
						+ @TablaDiaVarillaje + ' 
					WHERE 
						fecproceso = ''' + @FecProceso + ''' AND
						cdarticulo = ''' + @vArticulosProd + ''' '

		SET @Params = '@outDifDia NUMERIC(12,2) OUTPUT, @outDifMes NUMERIC(12,2) OUTPUT'

		EXEC sp_executesql @SQL, @Params, @vDifDia OUTPUT, @vDifMes OUTPUT

		--CAMPOS CALCULADOS
		BEGIN

			--IF @vInventarioInicial IS NULL

			--BEGIN
				
			--	SET @vInventarioInicial = ISNULL(@vVarInicial,0)

			--END

			SET @vIngTotalIngresos = ISNULL(@vIngCompras,0) + ISNULL(@vIngTransfGrifos,0)
			SET @vSalTotalSalidas = ISNULL(@vSalTotalVentas,0) + ISNULL(@vSalTransfGrifos,0) + ISNULL(@vSalAjusteFaltante,0)
			--SET @vInventarioFinal = ISNULL(@vInventarioInicial,0) + @vIngTotalIngresos - @vSalTotalSalidas
			--SET @vDifDia = ISNULL(@vVarFinal,0) - ISNULL(@vInventarioFinal,0)
			--SET @vDifMes = ISNULL(@vDifMes,0) + @vDifDia

		END

		--INSRECION EN TABLA TEMPORAL Y VarillajesParteDiario3
		BEGIN			

			INSERT INTO 
				@TmpInventario (TipoCombustible, InventarioInicial, IngCompras, IngTransfGrifos, IngCalibracion, IngTotalIngresos, SalTotalVentas,
								SalTransfGrifos, SalAjusteFaltante, SalTotalSalidas, InventarioFinal, VarInicial, VarFinal, CantidadGalones, PrecioVenta,
								VentaSoles, DifDia, DifMes)
			VALUES
				(@vTipoCombustible, ISNULL(@vInventarioInicial,0), ISNULL(@vIngCompras,0), ISNULL(@vIngTransfGrifos,0), ISNULL(@vIngCalibracion,0), 0, ISNULL(@vSalTotalVentas,0),
				ISNULL(@vSalTransfGrifos,0), ISNULL(@vSalAjusteFaltante,0), @vSalTotalSalidas, ISNULL(@vInventarioFinal,0), ISNULL(@vVarInicial,0), ISNULL(@vVarFinal,0), ISNULL(@vCantidadGal,0), 0, 
				ISNULL(@vVentaSoles,0), @vDifDia, @vDifMes)

			INSERT INTO 
				VarillajesParteDiario3 (fecproceso, cdarticulo, inicial, compra, venta, final, varillaje, difdia, difmes, variacion, total)
			VALUES
				(@FecProceso, @vArticulosProd, @vInventarioInicial, ISNULL(@vIngCompras,0), ISNULL(@vSalTotalVentas,0), @vInventarioFinal, ISNULL(@vVarFinal,0), @vDifDia, @vDifMes, 0, ISNULL(@vVentaSoles,0))

		END

		SET @Cont = @Cont + 1

	END

	SELECT 
		SUM(InventarioInicial) AS II, 
		SUM(IngCompras) AS IC, 
		SUM(IngTransfGrifos) AS ITG, 
		SUM(IngCalibracion) AS ICA, 
		SUM(IngTotalIngresos) AS ITI, 
		SUM(SalTotalVentas) AS STV,
		SUM(SalTransfGrifos) AS STG, 
		SUM(SalAjusteFaltante) AS SAF, 
		SUM(SalTotalSalidas) AS STS, 
		SUM(InventarioFinal) AS IFF, 
		SUM(VarInicial) AS VI, 
		SUM(VarFinal) AS VF, 
		SUM(CantidadGalones) AS CG , 
		SUM(PrecioVenta) AS PV,
		SUM(VentaSoles) AS VS,
		SUM(DifDia) AS DD,
		SUM(DifMes) AS DM
	FROM 
		@TmpInventario

END



GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_PADEL]    Script Date: 10/06/2022 14:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_PADEL]
	@FecProceso VARCHAR(8) = '20220221'
AS
BEGIN

	DECLARE @TablaVenta VARCHAR(11) = 'Venta' + LEFT(@FecProceso, 6)
	DECLARE @TablaVentaD VARCHAR(12) = 'VentaD' + LEFT(@FecProceso, 6)
	DECLARE @SQL NVARCHAR(MAX)

	SET @SQL = 'SELECT
					VC.rscliente,
					TipoVenta = ''PADEL'',
					Combustible = A.dsarticulo,
					Cantidad = SUM(VD.cantidad),
					Precio = CONVERT(DECIMAL(12,2),VD.precio),
					Soles = SUM(VD.mtototal),
					NroDocumento = ''''
				FROM
					' + @TablaVenta + ' VC
				JOIN
					' + @TablaVentaD + ' VD
				ON
					VC.nroseriemaq = VD.nroseriemaq AND
					VC.cdtipodoc = VD.cdtipodoc AND
					VC.nrodocumento = VD.nrodocumento AND
					VC.nropos = VD.nropos
				JOIN
					articulo A
				ON
					VD.cdarticulo = A.cdarticulo
				JOIN
					cliente CLI
				ON
					VC.cdcliente = CLI.cdcliente
				WHERE
					VC.cdtipodoc = ''99999'' AND
					VC.fecproceso = ''' + @FecProceso + ''' AND
					CLI.tipocli = ''A''
				GROUP BY
					VC.rscliente,
					A.dsarticulo,
					VD.precio'

	EXEC sp_executesql @SQL

END

GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_PADEL_TOTAL]    Script Date: 10/06/2022 14:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_PADEL_TOTAL]
	@FecProceso VARCHAR(8) = '20220221'
AS
BEGIN

	DECLARE @TablaVenta VARCHAR(11) = 'Venta' + LEFT(@FecProceso, 6)
	DECLARE @TablaVentaD VARCHAR(12) = 'VentaD' + LEFT(@FecProceso, 6)
	DECLARE @SQL NVARCHAR(MAX)

	SET @SQL = 'SELECT
					TipoVenta = ''VENTATOTAL'',					
					Soles =ISNULL( SUM(VD.mtototal), 0)					
				FROM
					' + @TablaVenta + ' VC
				JOIN
					' + @TablaVentaD + ' VD
				ON
					VC.nroseriemaq = VD.nroseriemaq AND
					VC.cdtipodoc = VD.cdtipodoc AND
					VC.nrodocumento = VD.nrodocumento AND
					VC.nropos = VD.nropos
				JOIN
					articulo A
				ON
					VD.cdarticulo = A.cdarticulo
				JOIN
					cliente CLI
				ON
					VC.cdcliente = CLI.cdcliente
				WHERE
					VC.cdtipodoc = ''99999'' AND
					VC.fecproceso = ''' + @FecProceso + ''' AND
					CLI.tipocli = ''A'' '

	EXEC sp_executesql @SQL

END

GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_REMESAS]    Script Date: 10/06/2022 14:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_REMESAS]
	@FecProceso VARCHAR(8) = '20211122'
AS
BEGIN

	DECLARE @TablaDiaDepBanco VARCHAR(17) = 'DiaDepBanco' + LEFT(@FecProceso, 6)
	DECLARE @SQL NVARCHAR(MAX)
	DECLARE @Params NVARCHAR(200)

	DECLARE @TmpResumenRemesas TABLE (Id INT IDENTITY,
								      Concepto VARCHAR(120),
								      Total NUMERIC(12,2))


	DECLARE @vBilletesTotal NUMERIC(12,2)
	DECLARE @vDolaresTotal NUMERIC(12,2)
	DECLARE @vGLPTotal NUMERIC(12,2)
	DECLARE @vGNVTotal NUMERIC(12,2)
	
	INSERT INTO @TmpResumenRemesas VALUES ('Billetes', 0)
	INSERT INTO @TmpResumenRemesas VALUES ('Dolares', 0)
	INSERT INTO @TmpResumenRemesas VALUES ('GLP', 0)
	INSERT INTO @TmpResumenRemesas VALUES ('GNV', 0)

	BEGIN
		
		--TOTAL BILLETES
		BEGIN

			SET @SQL = 'SELECT							
							@outTotal = SUM(DEP.mtototal)
						FROM ' 
							+ @TablaDiaDepBanco + ' DEP
						JOIN
							cuentascorrientes CTA
						ON
							DEP.nrocuenta = CTA.nrocuenta
						WHERE 
							DEP.fecproceso = ''' + @FecProceso + ''' AND
							CTA.cdmoneda = ''S'' AND
							DEP.FlgGnv IN (0, NULL) AND
							DEP.FlgGlp IN (0, NULL)'

			SET @Params = '@outTotal NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vBilletesTotal OUTPUT

		END

		--TOTAL DOLARES
		BEGIN

			SET @SQL = 'SELECT							
							@outTotal = SUM(DEP.mtototal)
						FROM ' 
							+ @TablaDiaDepBanco + ' DEP
						JOIN
							cuentascorrientes CTA
						ON
							DEP.nrocuenta = CTA.nrocuenta
						WHERE 
							DEP.fecproceso = ''' + @FecProceso + ''' AND
							CTA.cdmoneda = ''D'' AND
							DEP.FlgGnv IN (0, NULL) AND
							DEP.FlgGlp IN (0, NULL)'

			SET @Params = '@outTotal NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vDolaresTotal OUTPUT

		END

		--TOTAL GLP
		BEGIN

			SET @SQL = 'SELECT							
							@outTotal = SUM(mtototal)
						FROM ' 
							+ @TablaDiaDepBanco + ' 
						WHERE 
							fecproceso = ''' + @FecProceso + ''' AND							
							FlgGlp = 1'

			SET @Params = '@outTotal NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vGLPTotal OUTPUT

		END

		--TOTAL GNV
		BEGIN

			SET @SQL = 'SELECT							
							@outTotal = SUM(mtototal)
						FROM ' 
							+ @TablaDiaDepBanco + ' 
						WHERE 
							fecproceso = ''' + @FecProceso + ''' AND							
							FlgGnv = 1'

			SET @Params = '@outTotal NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vGNVTotal OUTPUT

		END

	END

	BEGIN
		
		UPDATE @TmpResumenRemesas SET Total = ISNULL(@vBilletesTotal, 0) WHERE Id = 1		
		UPDATE @TmpResumenRemesas SET Total = ISNULL(@vDolaresTotal, 0) WHERE Id = 2		
		UPDATE @TmpResumenRemesas SET Total = ISNULL(@vGLPTotal, 0) WHERE Id = 3		
		UPDATE @TmpResumenRemesas SET Total = ISNULL(@vGNVTotal, 0) WHERE Id = 4

	END

	SELECT * FROM @TmpResumenRemesas

END




GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_REMESAS_TOTAL]    Script Date: 10/06/2022 14:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_REMESAS_TOTAL]
	@FecProceso VARCHAR(8) = '20220221'
AS
BEGIN

	DECLARE @TablaDiaDepBanco VARCHAR(17) = 'DiaDepBanco' + LEFT(@FecProceso, 6)
	DECLARE @SQL NVARCHAR(MAX)
	DECLARE @Params NVARCHAR(200)

	DECLARE @TmpResumenRemesas TABLE (Id INT IDENTITY,
								      Concepto VARCHAR(120),
								      Total NUMERIC(12,2))


	DECLARE @vBilletesTotal NUMERIC(12,2)
	DECLARE @vDolaresTotal NUMERIC(12,2)
	DECLARE @vGLPTotal NUMERIC(12,2)
	DECLARE @vGNVTotal NUMERIC(12,2)
	
	INSERT INTO @TmpResumenRemesas VALUES ('Billetes', 0)
	INSERT INTO @TmpResumenRemesas VALUES ('Dolares', 0)
	INSERT INTO @TmpResumenRemesas VALUES ('GLP', 0)
	INSERT INTO @TmpResumenRemesas VALUES ('GNV', 0)

	BEGIN
		
		--TOTAL BILLETES
		BEGIN

			SET @SQL = 'SELECT							
							@outTotal = SUM(DEP.mtototal)
						FROM ' 
							+ @TablaDiaDepBanco + ' DEP
						JOIN
							cuentascorrientes CTA
						ON
							DEP.nrocuenta = CTA.nrocuenta
						WHERE 
							DEP.fecproceso = ''' + @FecProceso + ''' AND
							CTA.cdmoneda = ''S'' AND
							DEP.FlgGnv IN (0, NULL) AND
							DEP.FlgGlp IN (0, NULL)'

			SET @Params = '@outTotal NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vBilletesTotal OUTPUT

		END

		--TOTAL DOLARES
		BEGIN

			SET @SQL = 'SELECT							
							@outTotal = SUM(DEP.mtototal)
						FROM ' 
							+ @TablaDiaDepBanco + ' DEP
						JOIN
							cuentascorrientes CTA
						ON
							DEP.nrocuenta = CTA.nrocuenta
						WHERE 
							DEP.fecproceso = ''' + @FecProceso + ''' AND
							CTA.cdmoneda = ''D'' AND
							DEP.FlgGnv IN (0, NULL) AND
							DEP.FlgGlp IN (0, NULL)'

			SET @Params = '@outTotal NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vDolaresTotal OUTPUT

		END

		--TOTAL GLP
		BEGIN

			SET @SQL = 'SELECT							
							@outTotal = SUM(mtototal)
						FROM ' 
							+ @TablaDiaDepBanco + ' 
						WHERE 
							fecproceso = ''' + @FecProceso + ''' AND							
							FlgGlp = 1'

			SET @Params = '@outTotal NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vGLPTotal OUTPUT

		END

		--TOTAL GNV
		BEGIN

			SET @SQL = 'SELECT							
							@outTotal = SUM(mtototal)
						FROM ' 
							+ @TablaDiaDepBanco + ' 
						WHERE 
							fecproceso = ''' + @FecProceso + ''' AND							
							FlgGnv = 1'

			SET @Params = '@outTotal NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vGNVTotal OUTPUT

		END

	END

	BEGIN
		
		UPDATE @TmpResumenRemesas SET Total = ISNULL(@vBilletesTotal, 0) WHERE Id = 1		
		UPDATE @TmpResumenRemesas SET Total = ISNULL(@vDolaresTotal, 0) WHERE Id = 2		
		UPDATE @TmpResumenRemesas SET Total = ISNULL(@vGLPTotal, 0) WHERE Id = 3		
		UPDATE @TmpResumenRemesas SET Total = ISNULL(@vGNVTotal, 0) WHERE Id = 4

	END

	SELECT SUM(Total) AS MONTOTOTAL FROM @TmpResumenRemesas

END

GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_REMITOS]    Script Date: 10/06/2022 14:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_REMITOS]
	@FecProceso VARCHAR(8) = '20220221'
AS
BEGIN

	DECLARE @TablaDiaDepBanco VARCHAR(17) = 'DiaDepBanco' + LEFT(@FecProceso, 6)
	DECLARE @SQL NVARCHAR(MAX)

	SET @SQL = 'SELECT							
					remito = DEP.nrodeposito,
					bolsa = '''',
					cuenta = DEP.nrocuenta,
					impsoles = (CASE WHEN CTA.cdmoneda = ''S'' THEN DEP.mtototal ELSE 0 END),
					impdolar = (CASE WHEN CTA.cdmoneda = ''D'' THEN DEP.mtototal ELSE 0 END),
					tipo = (CASE WHEN DEP.FlgGnv = 1 THEN ''GNV'' WHEN DEP.FlgGlp = 1 THEN ''GLP'' ELSE ''Líquido'' END)
				FROM ' 
					+ @TablaDiaDepBanco + ' DEP
				JOIN
					cuentascorrientes CTA
				ON
					DEP.nrocuenta = CTA.nrocuenta
				WHERE 
					DEP.fecproceso = ''' + @FecProceso + ''' '

			EXEC sp_executesql @SQL
END



GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_RESUMEN_EFECTIVO]    Script Date: 10/06/2022 14:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_RESUMEN_EFECTIVO]
	@FecProceso VARCHAR(8) = '20220801'
AS
BEGIN

	DECLARE @TablaVenta VARCHAR(11) = 'Venta' + LEFT(@FecProceso, 6)
	DECLARE @TablaVentaD VARCHAR(12) = 'VentaD' + LEFT(@FecProceso, 6)
	DECLARE @TablaVentaP VARCHAR(12) = 'VentaP' + LEFT(@FecProceso, 6)
	DECLARE @TablaFaltSobr VARCHAR(14) = 'FaltSobr' + LEFT(@FecProceso, 6)
	DECLARE @SQL NVARCHAR(MAX)
	DECLARE @Params NVARCHAR(200)
	DECLARE @vEfectivo NUMERIC(12,2)

	DECLARE @TmpResumenEfectivo TABLE (Id INT IDENTITY,
								       Concepto VARCHAR(120),
									   Galones NUMERIC(12,2),
								       Soles NUMERIC(12,2))

	DECLARE @vVentaCantidad NUMERIC(12,2)
	DECLARE @vVentaSoles NUMERIC(12,2)
	DECLARE @vTarjetaCantidad NUMERIC(12,2)
	DECLARE @vTarjetaSoles NUMERIC(12,2)
	DECLARE @vCreditoCantidad NUMERIC(12,2)
	DECLARE @vCreditoSoles NUMERIC(12,2)
	DECLARE @vPadelCantidad NUMERIC(12,2)
	DECLARE @vPadelSoles NUMERIC(12,2)
	DECLARE @vFaltSobrSoles NUMERIC(12,2)
	DECLARE @vRecaudoSoles NUMERIC(12,2)
	
	INSERT INTO @TmpResumenEfectivo VALUES ('Total Venta', 0, 0)
	INSERT INTO @TmpResumenEfectivo VALUES ('Total Tarjeta de Crédito', 0, 0)
	INSERT INTO @TmpResumenEfectivo VALUES ('Total Crédito', 0, 0)
	INSERT INTO @TmpResumenEfectivo VALUES ('Total PADEL', 0, 0)
	INSERT INTO @TmpResumenEfectivo VALUES ('Faltante / Sobrante', 0, 0)
	INSERT INTO @TmpResumenEfectivo VALUES ('Recaudo Cofide - GNV', 0, 0)

	BEGIN
		
		--TOTAL VENTA
		BEGIN

			SET @SQL = 'SELECT
							@outCantidad = SUM(D.cantidad),
							@outSoles = SUM(D.mtototal)
						FROM ' + @TablaVentaD + ' D JOIN ' + @TablaVenta + ' C
						ON
							D.cdtipodoc = C.cdtipodoc AND
							D.nrodocumento = C.nrodocumento AND
							D.nroseriemaq = C.nroseriemaq AND
							D.nropos = C.nropos
						WHERE 
							C.fecproceso = ''' + @FecProceso + ''' AND
							C.fecanula IS NULL '

			SET @Params = '@outCantidad NUMERIC(12,2) OUTPUT, @outSoles NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vVentaCantidad OUTPUT, @vVentaSoles OUTPUT

		END

		--TOTAL TARJETA DE CREDITO
		BEGIN

			SET @SQL = 'SELECT
							@outCantidad = SUM(D.cantidad),
							@outSoles = SUM(D.mtototal)
						FROM 
							' + @TablaVentaD + ' D 
						JOIN 
							' + @TablaVenta + ' C
						ON
							D.cdtipodoc = C.cdtipodoc AND
							D.nrodocumento = C.nrodocumento AND
							D.nroseriemaq = C.nroseriemaq AND
							D.nropos = C.nropos
						JOIN
							' + @TablaVentaP + ' P 
						ON
							D.cdtipodoc = P.cdtipodoc AND
							D.nrodocumento = P.nrodocumento AND
							D.nroseriemaq = P.nroseriemaq AND
							D.nropos = P.nropos
						WHERE 
							C.fecproceso = ''' + @FecProceso + ''' AND
							C.fecanula IS NULL AND
							P.cdtppago = ''00002'' '

			SET @Params = '@outCantidad NUMERIC(12,2) OUTPUT, @outSoles NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vTarjetaCantidad OUTPUT, @vTarjetaSoles OUTPUT

		END

		--TOTAL CREDITO
		BEGIN

			SET @SQL = 'SELECT
							@outCantidad = SUM(D.cantidad),
							@outSoles = SUM(D.mtototal)
						FROM ' + @TablaVentaD + ' D JOIN ' + @TablaVenta + ' C
						ON
							D.cdtipodoc = C.cdtipodoc AND
							D.nrodocumento = C.nrodocumento AND
							D.nroseriemaq = C.nroseriemaq AND
							D.nropos = C.nropos
						JOIN
							cliente CLI
						ON
							C.cdcliente = CLI.cdcliente
						WHERE 
							C.fecproceso = ''' + @FecProceso + ''' AND
							C.fecanula IS NULL AND
							C.cdtipodoc = ''99999'' AND
							CLI.tipocli <> ''A'' '

			SET @Params = '@outCantidad NUMERIC(12,2) OUTPUT, @outSoles NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vCreditoCantidad OUTPUT, @vCreditoSoles OUTPUT

		END

		--TOTAL PAGO ADELANTADO
		BEGIN

			SET @SQL = 'SELECT
							@outCantidad = SUM(D.cantidad),
							@outSoles = SUM(D.mtototal)
						FROM ' + @TablaVentaD + ' D JOIN ' + @TablaVenta + ' C
						ON
							D.cdtipodoc = C.cdtipodoc AND
							D.nrodocumento = C.nrodocumento AND
							D.nroseriemaq = C.nroseriemaq AND
							D.nropos = C.nropos
						JOIN
							cliente CLI
						ON
							C.cdcliente = CLI.cdcliente
						WHERE 
							C.fecproceso = ''' + @FecProceso + ''' AND
							C.fecanula IS NULL AND
							C.cdtipodoc = ''99999'' AND
							CLI.tipocli = ''A'' '

			SET @Params = '@outCantidad NUMERIC(12,2) OUTPUT, @outSoles NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vPadelCantidad OUTPUT, @vPadelSoles OUTPUT

		END

		--TOTAL FALTANTE SOBRANTE
		BEGIN

			SET @SQL = 'SELECT
							@out = SUM(total_ing) - SUM(totalvta)					
						FROM 
							' + @TablaFaltSobr + '
						WHERE 
							fecproceso = ''' + @FecProceso + ''' '

			SET @Params = '@out NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vFaltSobrSoles OUTPUT

		END

		--TOTAL COFIDE
		BEGIN

			SET @SQL = 'SELECT							
							@out = SUM(mtorecaudo)
						FROM ' 
							+ @TablaVenta + ' 
						WHERE 
							fecproceso = ''' + @FecProceso + ''' AND
							fecanula IS NULL AND
							mtorecaudo > 0'

			SET @Params = '@out NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vRecaudoSoles OUTPUT

		END

	END

	BEGIN
		
		UPDATE @TmpResumenEfectivo SET Galones = ISNULL(@vVentaCantidad, 0) WHERE Id = 1
		UPDATE @TmpResumenEfectivo SET Soles = ISNULL(@vVentaSoles, 0) WHERE Id = 1

		UPDATE @TmpResumenEfectivo SET Galones = ISNULL(@vTarjetaCantidad, 0) WHERE Id = 2
		UPDATE @TmpResumenEfectivo SET Soles = ISNULL(@vTarjetaSoles, 0) * -1 WHERE Id = 2

		UPDATE @TmpResumenEfectivo SET Galones = ISNULL(@vCreditoCantidad, 0) WHERE Id = 3
		UPDATE @TmpResumenEfectivo SET Soles = ISNULL(@vCreditoSoles, 0) * -1 WHERE Id = 3

		UPDATE @TmpResumenEfectivo SET Galones = ISNULL(@vPadelCantidad, 0) WHERE Id = 4
		UPDATE @TmpResumenEfectivo SET Soles = ISNULL(@vPadelSoles, 0) WHERE Id = 4

		UPDATE @TmpResumenEfectivo SET Soles = ISNULL(@vFaltSobrSoles, 0) WHERE Id = 5

		UPDATE @TmpResumenEfectivo SET Soles = ISNULL(@vRecaudoSoles, 0) WHERE Id = 6
		
	END

	SELECT * FROM @TmpResumenEfectivo

END




GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_RESUMEN_EFECTIVO_TOTAL]    Script Date: 10/06/2022 14:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_RESUMEN_EFECTIVO_TOTAL]
	@FecProceso VARCHAR(8) = '20220801'
AS
BEGIN

	DECLARE @TablaVenta VARCHAR(11) = 'Venta' + LEFT(@FecProceso, 6)
	DECLARE @TablaVentaD VARCHAR(12) = 'VentaD' + LEFT(@FecProceso, 6)
	DECLARE @TablaVentaP VARCHAR(12) = 'VentaP' + LEFT(@FecProceso, 6)
	DECLARE @TablaFaltSobr VARCHAR(14) = 'FaltSobr' + LEFT(@FecProceso, 6)
	DECLARE @SQL NVARCHAR(MAX)
	DECLARE @Params NVARCHAR(200)
	DECLARE @vEfectivo NUMERIC(12,2)

	DECLARE @TmpResumenEfectivo TABLE (Id INT IDENTITY,
								       Concepto VARCHAR(120),
									   Galones NUMERIC(12,2),
								       Soles NUMERIC(12,2))

	DECLARE @vVentaCantidad NUMERIC(12,2)
	DECLARE @vVentaSoles NUMERIC(12,2)
	DECLARE @vTarjetaCantidad NUMERIC(12,2)
	DECLARE @vTarjetaSoles NUMERIC(12,2)
	DECLARE @vCreditoCantidad NUMERIC(12,2)
	DECLARE @vCreditoSoles NUMERIC(12,2)
	DECLARE @vPadelCantidad NUMERIC(12,2)
	DECLARE @vPadelSoles NUMERIC(12,2)
	DECLARE @vFaltSobrSoles NUMERIC(12,2)
	DECLARE @vRecaudoSoles NUMERIC(12,2)
	
	INSERT INTO @TmpResumenEfectivo VALUES ('Total Venta', 0, 0)
	INSERT INTO @TmpResumenEfectivo VALUES ('Total Tarjeta de Crédito', 0, 0)
	INSERT INTO @TmpResumenEfectivo VALUES ('Total Crédito', 0, 0)
	INSERT INTO @TmpResumenEfectivo VALUES ('Total PADEL', 0, 0)
	INSERT INTO @TmpResumenEfectivo VALUES ('Faltante / Sobrante', 0, 0)
	INSERT INTO @TmpResumenEfectivo VALUES ('Recaudo Cofide - GNV', 0, 0)

	BEGIN
		
		--TOTAL VENTA
		BEGIN

			SET @SQL = 'SELECT
							@outCantidad = SUM(D.cantidad),
							@outSoles = SUM(D.mtototal)
						FROM ' + @TablaVentaD + ' D JOIN ' + @TablaVenta + ' C
						ON
							D.cdtipodoc = C.cdtipodoc AND
							D.nrodocumento = C.nrodocumento AND
							D.nroseriemaq = C.nroseriemaq AND
							D.nropos = C.nropos
						WHERE 
							C.fecproceso = ''' + @FecProceso + ''' AND
							C.fecanula IS NULL '

			SET @Params = '@outCantidad NUMERIC(12,2) OUTPUT, @outSoles NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vVentaCantidad OUTPUT, @vVentaSoles OUTPUT

		END

		--TOTAL TARJETA DE CREDITO
		BEGIN

			SET @SQL = 'SELECT
							@outCantidad = SUM(D.cantidad),
							@outSoles = SUM(D.mtototal)
						FROM 
							' + @TablaVentaD + ' D 
						JOIN 
							' + @TablaVenta + ' C
						ON
							D.cdtipodoc = C.cdtipodoc AND
							D.nrodocumento = C.nrodocumento AND
							D.nroseriemaq = C.nroseriemaq AND
							D.nropos = C.nropos
						JOIN
							' + @TablaVentaP + ' P 
						ON
							D.cdtipodoc = P.cdtipodoc AND
							D.nrodocumento = P.nrodocumento AND
							D.nroseriemaq = P.nroseriemaq AND
							D.nropos = P.nropos
						WHERE 
							C.fecproceso = ''' + @FecProceso + ''' AND
							C.fecanula IS NULL AND
							P.cdtppago = ''00002'' '

			SET @Params = '@outCantidad NUMERIC(12,2) OUTPUT, @outSoles NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vTarjetaCantidad OUTPUT, @vTarjetaSoles OUTPUT

		END

		--TOTAL CREDITO
		BEGIN

			SET @SQL = 'SELECT
							@outCantidad = SUM(D.cantidad),
							@outSoles = SUM(D.mtototal)
						FROM ' + @TablaVentaD + ' D JOIN ' + @TablaVenta + ' C
						ON
							D.cdtipodoc = C.cdtipodoc AND
							D.nrodocumento = C.nrodocumento AND
							D.nroseriemaq = C.nroseriemaq AND
							D.nropos = C.nropos
						JOIN
							cliente CLI
						ON
							C.cdcliente = CLI.cdcliente
						WHERE 
							C.fecproceso = ''' + @FecProceso + ''' AND
							C.fecanula IS NULL AND
							C.cdtipodoc = ''99999'' AND
							CLI.tipocli <> ''A'' '

			SET @Params = '@outCantidad NUMERIC(12,2) OUTPUT, @outSoles NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vCreditoCantidad OUTPUT, @vCreditoSoles OUTPUT

		END

		--TOTAL PAGO ADELANTADO
		BEGIN

			SET @SQL = 'SELECT
							@outCantidad = SUM(D.cantidad),
							@outSoles = SUM(D.mtototal)
						FROM ' + @TablaVentaD + ' D JOIN ' + @TablaVenta + ' C
						ON
							D.cdtipodoc = C.cdtipodoc AND
							D.nrodocumento = C.nrodocumento AND
							D.nroseriemaq = C.nroseriemaq AND
							D.nropos = C.nropos
						JOIN
							cliente CLI
						ON
							C.cdcliente = CLI.cdcliente
						WHERE 
							C.fecproceso = ''' + @FecProceso + ''' AND
							C.fecanula IS NULL AND
							C.cdtipodoc = ''99999'' AND
							CLI.tipocli = ''A'' '

			SET @Params = '@outCantidad NUMERIC(12,2) OUTPUT, @outSoles NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vPadelCantidad OUTPUT, @vPadelSoles OUTPUT

		END

		--TOTAL FALTANTE SOBRANTE
		BEGIN

			SET @SQL = 'SELECT
							@out = SUM(total_ing) - SUM(totalvta)					
						FROM 
							' + @TablaFaltSobr + '
						WHERE 
							fecproceso = ''' + @FecProceso + ''' '

			SET @Params = '@out NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vFaltSobrSoles OUTPUT

		END

		--TOTAL COFIDE
		BEGIN

			SET @SQL = 'SELECT							
							@out = SUM(mtorecaudo)
						FROM ' 
							+ @TablaVenta + ' 
						WHERE 
							fecproceso = ''' + @FecProceso + ''' AND
							fecanula IS NULL AND
							mtorecaudo > 0'

			SET @Params = '@out NUMERIC(12,2) OUTPUT'

			EXEC sp_executesql @SQL, @Params, @vRecaudoSoles OUTPUT

		END

	END

	BEGIN
		
		UPDATE @TmpResumenEfectivo SET Galones = ISNULL(@vVentaCantidad, 0) WHERE Id = 1
		UPDATE @TmpResumenEfectivo SET Soles = ISNULL(@vVentaSoles, 0) WHERE Id = 1

		UPDATE @TmpResumenEfectivo SET Galones = ISNULL(@vTarjetaCantidad, 0) WHERE Id = 2
		UPDATE @TmpResumenEfectivo SET Soles = ISNULL(@vTarjetaSoles, 0) WHERE Id = 2

		UPDATE @TmpResumenEfectivo SET Galones = ISNULL(@vCreditoCantidad, 0) WHERE Id = 3
		UPDATE @TmpResumenEfectivo SET Soles = ISNULL(@vCreditoSoles, 0) WHERE Id = 3

		UPDATE @TmpResumenEfectivo SET Galones = ISNULL(@vPadelCantidad, 0) WHERE Id = 4
		UPDATE @TmpResumenEfectivo SET Soles = ISNULL(@vPadelSoles, 0) WHERE Id = 4

		UPDATE @TmpResumenEfectivo SET Soles = ISNULL(@vFaltSobrSoles, 0) WHERE Id = 5

		UPDATE @TmpResumenEfectivo SET Soles = ISNULL(@vRecaudoSoles, 0) WHERE Id = 6
		
	END

	SELECT 
		ISNULL(@vVentaSoles,0) - ISNULL(@vTarjetaSoles,0) - ISNULL(@vCreditoSoles,0) + 
		ISNULL(@vPadelSoles, 0) + 
		ISNULL(@vFaltSobrSoles, 0) + 
		ISNULL(@vRecaudoSoles,0)
	AS 
		TOTALEFECTIVO

	--SELECT SUM(SOLES) AS TOTALEFECTIVO FROM @TmpResumenEfectivo

END


GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_SALDOS]    Script Date: 10/06/2022 14:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_SALDOS]
AS
BEGIN

	SELECT 
		Cliente = C.rscliente,
		TipoSaldo = 'Cliente',
		NroTarjeta = SD.nrotarjeta,
		SaldoAnterior = SC.limitemto,
		ConsumoActual = SC.consumto,
		Pago = 0,
		SaldoFinal = (CASE WHEN SC.flgilimit = 1 THEN 0 ELSE SC.limitemto - SC.consumto END) ,
		Ilimitado = (CASE WHEN SC.flgilimit = 1 THEN 'SI' ELSE 'NO' END)
	FROM 
		saldoclic SC
	JOIN
		cliente C
	ON
		SC.cdcliente = C.cdcliente
	JOIN
		saldoclid SD
	ON
		SC.cdcliente = SD.cdcliente
	WHERE
		SC.tpsaldo = 'C' AND
		SC.flgbloquea = 0
	
	UNION ALL

	SELECT 
		Cliente = C.rscliente,
		TipoSaldo = 'Tarjeta',
		NroTarjeta = SD.nrotarjeta,
		SaldoAnterior = SD.limitemto,
		ConsumoActual = SD.consumto,
		Pago = 0,
		SaldoFinal = (CASE WHEN SD.flgilimit = 1 THEN 0 ELSE SD.limitemto - SD.consumto END) ,
		Ilimitado = (CASE WHEN SD.flgilimit = 1 THEN 'SI' ELSE 'NO' END)
	FROM 
		saldoclid SD
	JOIN
		cliente C
	ON
		SD.cdcliente = C.cdcliente
	JOIN
		saldoclic SC
	ON
		SD.cdcliente = SC.cdcliente
	WHERE
		SC.tpsaldo = 'T' AND
		SD.flgbloquea = 0
	
END

--select * from saldoclic
--select * from saldoclid

--SELECT 
--	* 
--FROM 
--	saldoclid
--ORDER BY 
--	cdcliente

GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_VENTAS_POR_PRODUCTO]    Script Date: 10/06/2022 14:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_VENTAS_POR_PRODUCTO]
	@FecProceso VARCHAR(8) = '20220221'
AS
BEGIN

	DECLARE @TablaVenta VARCHAR(11) = 'Venta' + LEFT(@FecProceso, 6)
	DECLARE @TablaVentaD VARCHAR(12) = 'VentaD' + LEFT(@FecProceso, 6)
	DECLARE @SQL NVARCHAR(MAX)

	SET @SQL = 'SELECT					
					Combustible = A.dsarticulo,
					Q = SUM(D.cantidad),
					Precio = CONVERT(DECIMAL(12,2),D.precio),
					Soles = CONVERT(DECIMAL(12,2),SUM(D.mtototal))
				FROM
					' + @TablaVentaD + ' D
				JOIN
					' + @TablaVenta + ' C
				ON
					D.cdtipodoc = C.cdtipodoc AND
					D.nrodocumento = C.nrodocumento AND
					D.nroseriemaq = C.nroseriemaq AND
					D.nropos = C.nropos
				JOIN
					articulo A
				ON
					D.cdarticulo = A.cdarticulo
				WHERE
					D.fecproceso = ''' + @FecProceso + ''' AND
					C.fecanula IS NULL
				GROUP BY
					A.cdarticulo,
					A.dsarticulo,
					D.precio
				ORDER BY
					A.cdarticulo ASC'

	EXEC sp_executesql @SQL
	
END

GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_VENTAS_POR_PRODUCTO_TOTAL]    Script Date: 10/06/2022 14:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_VENTAS_POR_PRODUCTO_TOTAL]
	@FecProceso VARCHAR(8) = '20220221'
AS
BEGIN

	DECLARE @TablaVenta VARCHAR(11) = 'Venta' + LEFT(@FecProceso, 6)
	DECLARE @TablaVentaD VARCHAR(12) = 'VentaD' + LEFT(@FecProceso, 6)	
	DECLARE @SQL NVARCHAR(MAX)

	SET @SQL = 'SELECT										
					QTOTAL = SUM(D.cantidad),					
					SolesTOTAL = CONVERT(DECIMAL(12,2),SUM(D.mtototal))
				FROM
					' + @TablaVentaD + ' D
				JOIN
					' + @TablaVenta + ' C
				ON
					D.cdtipodoc = C.cdtipodoc AND
					D.nrodocumento = C.nrodocumento AND
					D.nroseriemaq = C.nroseriemaq AND
					D.nropos = C.nropos
				JOIN
					articulo A
				ON
					D.cdarticulo = A.cdarticulo
				WHERE
					D.fecproceso = ''' + @FecProceso + ''' AND
					C.fecanula IS NULL
				'

	EXEC sp_executesql @SQL
	
END

GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_VENTAS_POR_TURNO]    Script Date: 10/06/2022 14:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_VENTAS_POR_TURNO]
	@FecProceso VARCHAR(8) = '20220221'
AS
BEGIN

	DECLARE @TablaVenta VARCHAR(11) = 'Venta' + LEFT(@FecProceso, 6)
	DECLARE @TablaVentaD VARCHAR(12) = 'VentaD' + LEFT(@FecProceso, 6)	
	DECLARE @SQL NVARCHAR(MAX)

	SET @SQL = 'SELECT
					D.CDARTICULO,					
					Combustible = A.dsarticulo,
					Q = SUM(D.cantidad),
					Precio = CONVERT(DECIMAL(12,2),D.precio),
					Soles = CONVERT(DECIMAL(12,2),SUM(D.mtototal)),
					D.TURNO,
					D.NROPOS,
					TAB.DSVENDEDOR
				FROM
					' + @TablaVentaD + ' D
				JOIN
					' + @TablaVenta + ' C
				ON
					D.cdtipodoc = C.cdtipodoc AND
					D.nrodocumento = C.nrodocumento AND
					D.nroseriemaq = C.nroseriemaq AND
					D.nropos = C.nropos
				JOIN
					articulo A
				ON
					D.cdarticulo = A.cdarticulo
				JOIN BACKOFFICESETUP..tab0s05 TAB
				ON	TAB.CDVENDEDOR = C.CDUSUARIO
				WHERE
					D.fecproceso = ''' + @FecProceso + ''' AND
					C.fecanula IS NULL and
					d.cdarticulo in (''01'',''02'',''03'',''04'',''05'')
				GROUP BY
					D.CDARTICULO,
					A.dsarticulo,
					D.precio,
					D.TURNO,
					D.NROPOS,
					TAB.DSVENDEDOR
				ORDER BY D.TURNO, D.NROPOS, D.CDARTICULO'

	EXEC sp_executesql @SQL
	
END

GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_VENTAS_TARJETA]    Script Date: 10/06/2022 14:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_VENTAS_TARJETA]
	@FecProceso VARCHAR(8) = '20220221'
AS
BEGIN

	DECLARE @TablaVenta VARCHAR(11) = 'Venta' + LEFT(@FecProceso, 6)
	DECLARE @TablaVentaD VARCHAR(12) = 'VentaD' + LEFT(@FecProceso, 6)
	DECLARE @TablaVentaP VARCHAR(12) = 'VentaP' + LEFT(@FecProceso, 6)
	DECLARE @SQL NVARCHAR(MAX)

	SET @SQL = 'SELECT
					TipoVenta = ''Tarjeta'',
					Combustible = A.dsarticulo,
					Cantidad = SUM(D.cantidad),
					Precio = CONVERT(DECIMAL(12,2),D.precio),
					Soles = CONVERT(DECIMAL(12,2),SUM(D.mtototal))
				FROM
					' + @TablaVentaD + ' D
				JOIN
					' + @TablaVentaP + ' P
				ON
					D.cdtipodoc = P.cdtipodoc AND
					D.nrodocumento = P.nrodocumento AND
					D.nroseriemaq = P.nroseriemaq AND
					D.nropos = P.nropos
				JOIN
					' + @TablaVenta + ' C
				ON
					D.cdtipodoc = C.cdtipodoc AND
					D.nrodocumento = C.nrodocumento AND
					D.nroseriemaq = C.nroseriemaq AND
					D.nropos = C.nropos
				JOIN
					articulo A
				ON
					D.cdarticulo = A.cdarticulo
				WHERE
					P.cdtppago = ''00002'' AND
					D.fecproceso = ''' + @FecProceso + ''' AND
					C.fecanula IS NULL
				GROUP BY
					A.cdarticulo,
					A.dsarticulo,
					D.precio
				ORDER BY
					A.cdarticulo ASC'

	EXEC sp_executesql @SQL
	

END



GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_VENTAS_TARJETA_TOTAL]    Script Date: 10/06/2022 14:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_VENTAS_TARJETA_TOTAL]
	@FecProceso VARCHAR(8) = '20220221'
AS
BEGIN

	DECLARE @TablaVenta VARCHAR(11) = 'Venta' + LEFT(@FecProceso, 6)
	DECLARE @TablaVentaD VARCHAR(12) = 'VentaD' + LEFT(@FecProceso, 6)
	DECLARE @TablaVentaP VARCHAR(12) = 'VentaP' + LEFT(@FecProceso, 6)
	DECLARE @SQL NVARCHAR(MAX)

	SET @SQL = 'SELECT									
					Cantidad = SUM(D.cantidad),					
					Soles = CONVERT(DECIMAL(12,2),SUM(D.mtototal))
				FROM
					' + @TablaVentaD + ' D
				JOIN
					' + @TablaVentaP + ' P
				ON
					D.cdtipodoc = P.cdtipodoc AND
					D.nrodocumento = P.nrodocumento AND
					D.nroseriemaq = P.nroseriemaq AND
					D.nropos = P.nropos
				JOIN
					' + @TablaVenta + ' C
				ON
					D.cdtipodoc = C.cdtipodoc AND
					D.nrodocumento = C.nrodocumento AND
					D.nroseriemaq = C.nroseriemaq AND
					D.nropos = C.nropos
				JOIN
					articulo A
				ON
					D.cdarticulo = A.cdarticulo
				WHERE
					P.cdtppago = ''00002'' AND
					D.fecproceso = ''' + @FecProceso + ''' AND
					C.fecanula IS NULL
				'

	EXEC sp_executesql @SQL
	

END



GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_VENTAS_VENDEDOR_GLP]    Script Date: 10/06/2022 14:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_VENTAS_VENDEDOR_GLP]
	@FecProceso VARCHAR(8) = '20220221'
AS
BEGIN

	DECLARE @TablaVenta VARCHAR(11) = 'Venta' + LEFT(@FecProceso, 6)
	DECLARE @TablaVentaD VARCHAR(12) = 'VentaD' + LEFT(@FecProceso, 6)
	DECLARE @TablaVentaP VARCHAR(12) = 'VentaP' + LEFT(@FecProceso, 6)
	DECLARE @TablaDiaIslaVend VARCHAR(17) = 'DiaIslaVend' + LEFT(@FecProceso, 6)
	DECLARE @TablaDiaDepVend VARCHAR(16) = 'DiaDepVend' + LEFT(@FecProceso, 6)
	DECLARE @SQL NVARCHAR(MAX)
	DECLARE @VentasVendedorTot INT
	DECLARE @Cont INT
	DECLARE @Turno INT
	DECLARE @CdVendedor CHAR(10)
	DECLARE @Nropos CHAR(10)
	DECLARE @Params NVARCHAR(200)
	DECLARE @vMtoVisa NUMERIC(12,2)
	DECLARE @vMtoDepositos NUMERIC(12,2)
	DECLARE @vDsVendedor VARCHAR(60)

	IF OBJECT_ID(N'tempdb..#VentasVendedor') IS NOT NULL
	BEGIN
		DROP TABLE #VentasVendedor
	END

	CREATE TABLE #VentasVendedor (Id INT IDENTITY,
								  cdvendedor CHAR(10),
								  dsvendedor VARCHAR(60),
								  cantidad NUMERIC(12,4),
								  precio NUMERIC(18,10),
								  mtototal NUMERIC(12,2),
								  turno NUMERIC(2,0),
								  nropos CHAR(10),
								  visa NUMERIC(12,2),
								  otros NUMERIC(12,2),
								  dep NUMERIC(12,2))

	SET @SQL = 'INSERT INTO #VentasVendedor
				SELECT		
					DI.cdvendedor,
					dsvendedor = '''',
					cantidad = SUM(VD.cantidad),
					VD.precio,
					mtototal = SUM(VD.mtototal),
					VD.turno,
					nropos = '''',
					visa = 0,
					otros = 0,
					dep = 0
				FROM
					' + @TablaVentaD + ' VD
				JOIN
					' + @TablaVenta + ' VC
				ON
					VD.cdtipodoc = VC.cdtipodoc AND
					VD.nrodocumento = VC.nrodocumento AND
					VD.nroseriemaq = VC.nroseriemaq
				JOIN
					' + @TablaDiaIslaVend + ' DI
				ON
					VD.turno = DI.turno AND
					VD.cara = DI.isla AND
					VD.fecproceso = DI.fecproceso
				WHERE
					VD.fecproceso = ''' + @FecProceso + ''' AND
					VD.cdarticulo = ''07'' AND
					VC.fecanula IS NULL
				GROUP BY
					DI.cdvendedor,
					VD.precio,
					VD.turno
				ORDER BY
					VD.turno'

	EXEC sp_executesql @SQL

	--AGREGANDO VENTAS CON TARJETA POR VENDEDOR

	SET @VentasVendedorTot = (SELECT COUNT(*) FROM #VentasVendedor)
	SET @Cont = 1

	WHILE @Cont <= @VentasVendedorTot
	BEGIN
		
		SET @Turno = (SELECT turno FROM #VentasVendedor WHERE Id = @Cont)
		SET @CdVendedor = (SELECT cdvendedor FROM #VentasVendedor WHERE Id = @Cont)		

	SET @SQL = 'SELECT							
					@out = SUM(VP.mtopagosol)
				FROM
					' + @TablaVentaD + ' VD
				JOIN
					' + @TablaVenta + ' VC
				ON
					VD.cdtipodoc = VC.cdtipodoc AND
					VD.nrodocumento = VC.nrodocumento AND
					VD.nroseriemaq = VC.nroseriemaq
				JOIN
					' + @TablaVentaP + ' VP
				ON
					VD.cdtipodoc = VP.cdtipodoc AND
					VD.nrodocumento = VP.nrodocumento AND
					VD.nroseriemaq = VP.nroseriemaq
				JOIN
					' + @TablaDiaIslaVend + ' DI
				ON
					VD.turno = DI.turno AND
					VD.cara = DI.isla AND
					VD.fecproceso = DI.fecproceso
				WHERE
					VP.fecproceso = ''' + @FecProceso + ''' AND
					VD.cdarticulo = ''07'' AND
					VC.fecanula IS NULL AND
					VP.turno = ' + CONVERT(CHAR,@Turno) + ' AND
					DI.cdvendedor = ''' + @CdVendedor + ''' AND
					VP.cdtppago = ''00002'' '

		SET @Params = '@out NUMERIC(12,2) OUTPUT'

		EXEC sp_executesql @SQL, @Params, @vMtoVisa OUT

		UPDATE #VentasVendedor SET visa = ISNULL(@vMtoVisa,0) WHERE Id = @Cont

		SET @Cont = @Cont + 1

	END

	--AGREGANDO DEPOSITOS POR VENDEDOR

	SET @VentasVendedorTot = (SELECT COUNT(*) FROM #VentasVendedor)
	SET @Cont = 1

	WHILE @Cont <= @VentasVendedorTot
	BEGIN
		
		SET @Turno = (SELECT turno FROM #VentasVendedor WHERE Id = @Cont)
		SET @CdVendedor = (SELECT cdvendedor FROM #VentasVendedor WHERE Id = @Cont)		

		SET @SQL = 'SELECT
						@out = SUM(mtosoles)
					FROM
						' + @TablaDiaDepVend + '
					WHERE
						fecproceso = ''' + @FecProceso + ''' AND
						turno = ' + CONVERT(CHAR,@Turno) + ' AND
						cdvendedor = ''' + @CdVendedor + ''' '

		SET @Params = '@out NUMERIC(12,2) OUTPUT'

		EXEC sp_executesql @SQL, @Params, @vMtoDepositos OUT

		UPDATE #VentasVendedor SET dep = ISNULL(@vMtoDepositos,0) WHERE Id = @Cont

		SET @Cont = @Cont + 1

	END

	--AGREGANDO NOMBRE POR CODIGO DE VENDEDOR

	SET @VentasVendedorTot = (SELECT COUNT(*) FROM #VentasVendedor)
	SET @Cont = 1

	WHILE @Cont <= @VentasVendedorTot
	BEGIN
				
		SET @CdVendedor = (SELECT cdvendedor FROM #VentasVendedor WHERE Id = @Cont)

		SET @SQL = 'SELECT
						@out = dsvendedor
					FROM
						BACKOFFICESETUP..tab0s05
					WHERE
						cdvendedor = ''' + @CdVendedor + ''' '

		SET @Params = '@out VARCHAR(60) OUTPUT'

		EXEC sp_executesql @SQL, @Params, @vDsVendedor OUT

		UPDATE #VentasVendedor SET dsvendedor = ISNULL(@vDsVendedor,'') WHERE Id = @Cont

		SET @Cont = @Cont + 1

	END

	SELECT		
		dsvendedor,
		cantidad,
		precio,
		mtototal,
		turno,
		nropos,
		visa,
		otros,
		dep
	FROM 
		#VentasVendedor

END



GO
/****** Object:  StoredProcedure [dbo].[PARTE3_PA_PARTE_DIARIO_VENTAS_VENDEDOR_GNV]    Script Date: 10/06/2022 14:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PARTE3_PA_PARTE_DIARIO_VENTAS_VENDEDOR_GNV]
	@FecProceso VARCHAR(8) = '20220221'
AS
BEGIN

	DECLARE @TablaVenta VARCHAR(11) = 'Venta' + LEFT(@FecProceso, 6)
	DECLARE @TablaVentaD VARCHAR(12) = 'VentaD' + LEFT(@FecProceso, 6)
	DECLARE @TablaVentaP VARCHAR(12) = 'VentaP' + LEFT(@FecProceso, 6)
	DECLARE @TablaDiaIslaVend VARCHAR(17) = 'DiaIslaVend' + LEFT(@FecProceso, 6)
	DECLARE @TablaDiaDepVend VARCHAR(16) = 'DiaDepVend' + LEFT(@FecProceso, 6)
	DECLARE @SQL NVARCHAR(MAX)
	DECLARE @VentasVendedorTot INT
	DECLARE @Cont INT
	DECLARE @Turno INT
	DECLARE @CdVendedor CHAR(10)
	DECLARE @Nropos CHAR(10)
	DECLARE @Params NVARCHAR(200)
	DECLARE @vMtoVisa NUMERIC(12,2)
	DECLARE @vMtoDepositos NUMERIC(12,2)
	DECLARE @vDsVendedor VARCHAR(60)

	IF OBJECT_ID(N'tempdb..#VentasVendedor') IS NOT NULL
	BEGIN
		DROP TABLE #VentasVendedor
	END

	CREATE TABLE #VentasVendedor (Id INT IDENTITY,
								  cdvendedor CHAR(10),
								  dsvendedor VARCHAR(60),
								  cantidad NUMERIC(12,4),
								  precio NUMERIC(18,10),
								  mtototal NUMERIC(12,2),
								  turno NUMERIC(2,0),
								  nropos CHAR(10),
								  mtorecaudo NUMERIC(12,2),
								  visa NUMERIC(12,2),
								  otros NUMERIC(12,2),
								  dep NUMERIC(12,2))

	SET @SQL = 'INSERT INTO #VentasVendedor
				SELECT		
					DI.cdvendedor,
					dsvendedor = '''',
					cantidad = SUM(VD.cantidad),
					VD.precio,
					mtototal = SUM(VD.mtototal),
					VD.turno,
					VD.nropos,
					mtorecaudo = SUM(VC.mtorecaudo),
					visa = 0,
					otros = 0,
					dep = 0
				FROM
					' + @TablaVentaD + ' VD
				JOIN
					' + @TablaVenta + ' VC
				ON
					VD.cdtipodoc = VC.cdtipodoc AND
					VD.nrodocumento = VC.nrodocumento AND
					VD.nroseriemaq = VC.nroseriemaq
				JOIN
					' + @TablaDiaIslaVend + ' DI
				ON
					VD.turno = DI.turno AND
					VD.cara = DI.isla AND
					VD.fecproceso = DI.fecproceso
				WHERE
					VD.fecproceso = ''' + @FecProceso + ''' AND
					VD.cdarticulo = ''08'' AND
					VC.fecanula IS NULL
				GROUP BY
					DI.cdvendedor,
					VD.precio,
					VD.turno,
					VD.nropos
				ORDER BY
					VD.turno,
					VD.nropos'	

	EXEC sp_executesql @SQL

	--AGREGANDO VENTAS CON TARJETA POR VENDEDOR

	SET @VentasVendedorTot = (SELECT COUNT(*) FROM #VentasVendedor)
	SET @Cont = 1

	WHILE @Cont <= @VentasVendedorTot
	BEGIN
		
		SET @Turno = (SELECT turno FROM #VentasVendedor WHERE Id = @Cont)
		SET @CdVendedor = (SELECT cdvendedor FROM #VentasVendedor WHERE Id = @Cont)		

	SET @SQL = 'SELECT							
					@out = SUM(VP.mtopagosol)
				FROM
					' + @TablaVentaD + ' VD
				JOIN
					' + @TablaVenta + ' VC
				ON
					VD.cdtipodoc = VC.cdtipodoc AND
					VD.nrodocumento = VC.nrodocumento AND
					VD.nroseriemaq = VC.nroseriemaq
				JOIN
					' + @TablaVentaP + ' VP
				ON
					VD.cdtipodoc = VP.cdtipodoc AND
					VD.nrodocumento = VP.nrodocumento AND
					VD.nroseriemaq = VP.nroseriemaq
				JOIN
					' + @TablaDiaIslaVend + ' DI
				ON
					VD.turno = DI.turno AND
					VD.cara = DI.isla AND
					VD.fecproceso = DI.fecproceso
				WHERE
					VP.fecproceso = ''' + @FecProceso + ''' AND
					VD.cdarticulo = ''08'' AND
					VC.fecanula IS NULL AND
					VP.turno = ' + CONVERT(CHAR,@Turno) + ' AND
					DI.cdvendedor = ''' + @CdVendedor + ''' AND
					VP.cdtppago = ''00002'' '

		SET @Params = '@out NUMERIC(12,2) OUTPUT'

		EXEC sp_executesql @SQL, @Params, @vMtoVisa OUT

		UPDATE #VentasVendedor SET visa = ISNULL(@vMtoVisa,0) WHERE Id = @Cont

		SET @Cont = @Cont + 1

	END

	--AGREGANDO DEPOSITOS POR VENDEDOR

	SET @VentasVendedorTot = (SELECT COUNT(*) FROM #VentasVendedor)
	SET @Cont = 1

	WHILE @Cont <= @VentasVendedorTot
	BEGIN
		
		SET @Turno = (SELECT turno FROM #VentasVendedor WHERE Id = @Cont)
		SET @CdVendedor = (SELECT cdvendedor FROM #VentasVendedor WHERE Id = @Cont)
		SET @Nropos = (SELECT nropos FROM #VentasVendedor WHERE Id = @Cont)

		SET @SQL = 'SELECT
						@out = mtosoles
					FROM
						' + @TablaDiaDepVend + '
					WHERE
						fecproceso = ''' + @FecProceso + ''' AND
						turno = ' + CONVERT(CHAR,@Turno) + ' AND
						cdvendedor = ''' + @CdVendedor + ''' AND
						nropos = ''' + @Nropos + ''' '

		SET @Params = '@out NUMERIC(12,2) OUTPUT'

		EXEC sp_executesql @SQL, @Params, @vMtoDepositos OUT

		UPDATE #VentasVendedor SET dep = ISNULL(@vMtoDepositos,0) WHERE Id = @Cont

		SET @Cont = @Cont + 1

	END

	--AGREGANDO NOMBRE POR CODIGO DE VENDEDOR

	SET @VentasVendedorTot = (SELECT COUNT(*) FROM #VentasVendedor)
	SET @Cont = 1

	WHILE @Cont <= @VentasVendedorTot
	BEGIN
				
		SET @CdVendedor = (SELECT cdvendedor FROM #VentasVendedor WHERE Id = @Cont)

		SET @SQL = 'SELECT
						@out = dsvendedor
					FROM
						BACKOFFICESETUP..tab0s05
					WHERE
						cdvendedor = ''' + @CdVendedor + ''' '

		SET @Params = '@out VARCHAR(60) OUTPUT'

		EXEC sp_executesql @SQL, @Params, @vDsVendedor OUT

		UPDATE #VentasVendedor SET dsvendedor = ISNULL(@vDsVendedor,'') WHERE Id = @Cont

		SET @Cont = @Cont + 1

	END

	SELECT
		dsvendedor,
		cantidad,
		precio,
		mtototal,
		turno,
		nropos,
		mtorecaudo,
		visa,
		otros,
		dep
	FROM 
		#VentasVendedor

END



GO
